@import "mixins";

.container{
  padding:0;
  .col-group{
    padding:0 15px;
  }
}


.contact-mobile{

  .information-content{
    > div{
      margin-bottom:1.5rem;
      > h3 {
        font-family: "RobotoCondensedRegular";
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
      }
        svg {
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
        }
      ul {
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 25px;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
      }


      span {
        border-bottom: 1px dotted #444;
        margin-bottom:5px;
      }



    }
    .adress{
      p{
        margin:0 0 5px;
        line-height:20px;
      }
    }
    .social{
      ul {
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;
        }
      }
    }
    .map {
      position: relative;
      height: 370px;
      margin: 0;
      width:100%;
      text-align: center;

      .gm-err-container {
        height: 100%;
        width: 100%;
        display: table;
        background-color: #e0e0e0;
        position: relative;
        left: 0;
        top: 0;
      }
      .gm-err-content {
        border-radius: 1px;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10%;
        position: static;
        vertical-align: middle;
        display: table-cell;
      }
      .gm-err-icon {
        text-align: center;
      }
      .gm-err-title {
        margin: 5px;
        margin-bottom: 20px;
        color: #616161;
        font-family: Roboto,Arial,sans-serif;
        text-align: center;
        font-size: 24px;
      }
      .gm-err-message {
        margin: 5px;
        color: #757575;
        font-family: Roboto,Arial,sans-serif;
        text-align: center;
        font-size: 12px;
      }

      .map_canvas {
        -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
        -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
        position: absolute;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 340px;
        overflow: visible !important;
        margin: 0 auto;
        left: 0;
        padding: 10px;

        #map {
          width: 100%;
          height: 320px;
          background-color: #e5e3df;
        }

        #map_controls {
          position: absolute;
          margin-right: 12px;
          margin-top: 12px;

          a {
            color: inherit;
            color: #000;
            text-decoration: inherit;
            text-decoration: none;
            cursor: inherit;
            cursor: pointer;
            display: -moz-inline-box;
            display: inline-block;
            -moz-box-orient: vertical;
            vertical-align: middle;
            padding: 5px;
            min-width: 90px;
            background-color: #fff;
            font-family: "roboto condensed", Arial, Helvetica, sans-serif;
            font-style: normal;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            -o-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            filter: alpha(opacity=50);
            opacity: .5;
            -moz-transition-property: all;
            -webkit-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -moz-transition-duration: .5s;
            -webkit-transition-duration: .5s;
            -o-transition-duration: .5s;
            transition-duration: .5s;
            margin-left: 6px;
          }

          a.active {
            -moz-transition-delay: .3s;
            -webkit-transition-delay: .3s;
            -o-transition-delay: .3s;
            transition-delay: .3s;
            filter: alpha(opacity=90);
            opacity: .9;
            color: @blue-color;
          }

          a:first-child {
            margin-left: 0;
          }

        }

        #map_navigation {
          width: 28px;
          filter: alpha(opacity=90);
          opacity: .9;
          -moz-transition-property: opacity;
          -webkit-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
          -moz-transition-duration: .5s;
          -webkit-transition-duration: .5s;
          -o-transition-duration: .5s;
          transition-duration: .5s;
          margin-left: 12px;
          margin-top: 12px;
          position: absolute;

          .inner {
            background-color: #fff;
            padding: 6px;
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            -o-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);

            .plus,
            .minus {
              height: 16px;
              width: 16px;
              display: block;
              background-image: url(/wp-content/themes/devdigital/assets/images/icons-16.png);
              background-repeat: no-repeat;
            }

            .plus {
              background-position: -48px 0;
              margin-bottom: 4px;
            }

            .minus {
              background-position: -48px -16px;
              margin-top: 4px;
            }

            .bar {
              margin: auto;
              background-color: #fafafa;
              width: 3px;
              height: 220px;
              position: relative;
              -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset;
              -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset;
              -o-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset;
              box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset;
            }

            .handle {
              height: 40px;
              width: 40px;
              display: block;
              background-image: url(/wp-content/themes/devdigital/assets/images/icons-40.png);
              background-repeat: no-repeat;
              position: absolute;
              bottom: 0;
              left: 2px;
              cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
              margin-bottom: -20px;
              border: none;
              -moz-transition-property: bottom;
              -webkit-transition-property: bottom;
              -o-transition-property: bottom;
              transition-property: bottom;
              -moz-transition-duration: .8s;
              -webkit-transition-duration: .8s;
              -o-transition-duration: .8s;
              transition-duration: .8s;
              -moz-transition-delay: .2s;
              -webkit-transition-delay: .2s;
              -o-transition-delay: .2s;
              transition-delay: .2s;
            }
          }

        }
      }

      .map_canvas:after {
        pointer-events: none;
        position: absolute;
        top: -2px;
        left: 7px;
        content: "";
        display: block;
        /* width: 100%; */
        /* height: 100%; */
        background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 0;
        right: 10px;
        bottom: -6px;
      }


    }
  }
}

