@import "mixins";

.project-list{
	padding: 0;
	width: 100%;
	margin: 0;

	.item-project{
		margin: 0;
		float: none;
		padding: 2.5px 5px;

		.image{
			height: 80vh;
			min-height: 200px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			a{
				display: inline-block;
				height: 100%;
				width: 100%;
				color: #fff;
				background-color: rgba(0,0,0,0.5);
				text-decoration: none;


				.description{
					display: flex;
					flex-direction: column;
					height: 77%;
					padding: 35px;

					h2{
						text-transform: uppercase;
						font-size: 1.5rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid @blue-color;
						margin-bottom: 1rem;
						font-family: @font-room-bold;
						}

					h3{
						font-size: 1rem;
						line-height: 1.5;
						font-family: "RobotoCondensedLight";
						font-weight: normal;
						margin: 0;

						p{
							margin: 0;
							}
						}

					}

				}
			}
		}
	}

#content{
	margin-bottom: -30vh;
	}

@media screen and (min-width: 543px){
	.project-list{

		.item-project{
			display: inline-block;
			vertical-align: top;


			.image{
				height: 60vh;
				}
			}
		}
	}