@import "mixins";

body{
	background: #29c5b9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #29c5b9 0%, #477ab1 46%, #4c47b1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29c5b9), color-stop(46%, #477ab1), color-stop(100%, #4c47b1));
	background: -webkit-linear-gradient(top, #29c5b9 0%, #477ab1 46%, #4c47b1 100%);
	background: -o-linear-gradient(top, #29c5b9 0%, #477ab1 46%, #4c47b1 100%);
	background: -ms-linear-gradient(top, #29c5b9 0%, #477ab1 46%, #4c47b1 100%);
	background: linear-gradient(to bottom, #29c5b9 0%, #477ab1 46%, #4c47b1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29c5b9', endColorstr='#ad4cb7', GradientType=0);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}


.error-404{
	display: flex;
	height: 95vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1{
		color: #fff;
		text-align: center;
		}

	h1.text404{
		font-size: 12rem;
		}

	.page-content{
		color: #fff;
		text-align: center;
		}

	.search-field{
		width: 82%;
		}
	}

#mobilesmart_switcher{
	background-color: transparent;
	a{
		color: #fff;
		}

	}