@import "mixins";

&.abrakadabra-list{
	margin-bottom: 2rem;
	.item{
		padding: 7px;
		.animate;

		.image{
			width: 100%;
			height: 60vh;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;


			.description{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;
				padding: 20px;
				/*display: flex;*/
				opacity: 0;
				.animate;
				flex-direction: column;
				justify-content: center;

				h2{
					text-transform: uppercase;
					font-size: 2rem;
					padding-bottom: 1rem;
					border-bottom: 1px solid @blue-color;
					margin-bottom: 1rem;
					font-family: @font-room-bold;
					}

				h3{
					font-size: 1rem;
					line-height: 1.5;
					font-family: @font-roboto-light;
					}
				}

			}


		}

	.item:nth-child(4n+1){
		clear: both;
		}

	.item:hover{
		padding: 0;

		.description{
			opacity: 1;
			}
		}

	}

#footer {
	margin-top: 5%;
}


@media screen and (max-width: 992px) {
	&.abrakadabra-list{
		margin-bottom: 2rem;
		display: flex;
		flex-flow: row wrap;
		.item{
			padding: 7px;
			width:33.3333%;
			.animate;

			.image{
				width: 100%;
				height: 60vh;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;


				.description{
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);
					color: #fff;
					padding: 20px;
					/*display: flex;*/
					opacity: 0;
					.animate;
					flex-direction: column;
					justify-content: center;

					h2{
						text-transform: uppercase;
						font-size: 2rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid @blue-color;
						margin-bottom: 1rem;
						font-family: @font-room-bold;
					}

					h3{
						font-size: 1rem;
						line-height: 1.5;
						font-family: @font-roboto-light;
					}
				}

			}


		}

		.item:nth-child(4n+1){
			clear: both;
		}

		.item:hover{
			padding: 0;

			.description{
				opacity: 1;
			}
		}

	}

}

@media screen and (max-width: 767px) {
	&.abrakadabra-list{
		margin-bottom: 2rem;
		display: flex;
		flex-flow: row wrap;
		.item{
			padding: 7px;
			width:50%;
			.animate;

			.image{
				width: 100%;
				height: 60vh;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;


				.description{
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);
					color: #fff;
					padding: 20px;
					/*display: flex;*/
					opacity: 0;
					.animate;
					flex-direction: column;
					justify-content: center;

					h2{
						text-transform: uppercase;
						font-size: 2rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid @blue-color;
						margin-bottom: 1rem;
						font-family: @font-room-bold;
					}

					h3{
						font-size: 1rem;
						line-height: 1.5;
						font-family: @font-roboto-light;
					}
				}

			}


		}

		.item:nth-child(4n+1){
			clear: both;
		}

		.item:hover{
			padding: 0;

			.description{
				opacity: 1;
			}
		}

	}

}


@media screen and (max-width: 480px) {
	&.abrakadabra-list{
		margin-bottom: 2rem;
		display: flex;
		flex-flow: row wrap;
		.item{
			padding: 7px;
			width:100%;
			.animate;

			.image{
				width: 100%;
				height: 60vh;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;


				.description{
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);
					color: #fff;
					padding: 20px;
					/*display: flex;*/
					opacity: 0;
					.animate;
					flex-direction: column;
					justify-content: center;

					h2{
						text-transform: uppercase;
						font-size: 2rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid @blue-color;
						margin-bottom: 1rem;
						font-family: @font-room-bold;
					}

					h3{
						font-size: 1rem;
						line-height: 1.5;
						font-family: @font-roboto-light;
					}
				}

			}


		}

		.item:nth-child(4n+1){
			clear: both;
		}

		.item:hover{
			padding: 0;

			.description{
				opacity: 1;
			}
		}

	}

}