@import "mixins";

.entry-content {
	font-family: "RobotoCondensedLight";
	img{
		max-width:100%;
		height:auto;
	}
	}

.title-before-blog{
	margin-bottom: 2rem;
	background-color: rgba(49, 224, 210, 0.3);
	padding: 1rem;
	font-size: 1.2rem;
	}

&.blog-list,
.blog {

	.blog-list-article {
		article {
			margin-bottom: 3rem;

			.image-preview-post {
				width: 100%;
				height: auto;
				overflow: hidden;
				margin-bottom: 1.5rem;

				img {
					width: 100%;
					height: auto;
					.animate;
					}

				}

			.image-preview-post:hover {
				img {
					-webkit-transform: scale(1.3);
					transform: scale(1.3);
					}
				}

			h1 {
				font-size: 2rem;
				margin: 0;

				a {
					color: inherit;
					text-decoration: none;
					}
				}

			.info-post {
				margin-bottom: .7rem;
				margin-top: .5rem;

				p {
					display: inline-block;
					vertical-align: top;
					font-size: 14px;
					color: #b3b3b1;
					margin-right: 15px;
					margin-bottom: 0;
					}

				}

			.content-post {
				clear: both;
				color: #777777;
				margin-bottom: 1rem;

				blockquote {
					border-left: 2px solid @blue-color;

					p {
						font-size: 1.5rem;
						padding-left: 20px;
						}
					}

				}

			footer {

				ul {
					padding: 0;
					list-style: none;

					li {
						display: inline-block;
						vertical-align: top;
						}

					}

				.tags {
					li {
						font-family: @font-roboto-light;
						padding: 6px 14px;
						margin: 0 6px 12px 0;
						font-size: 12px;
						background: #f7f6f6;
						color: #808080;
						border-radius: 4px;
						text-decoration: none;
						}
					}

				.readmore{
					a{
						padding: 7px 10px;
						font-size: 14px;
						}
					}

				}

			}
		}

	.comments-wrap {
		h2 {
			font-family: @font-room-bold;
			text-transform: uppercase;
			margin-bottom: 1rem;
			}

		.comments-area {
			> ol {
				padding: 0;
				}
			ol {
				list-style: none;

				.comment-body {
					.comment-author {
						b {
							font-family: @font-room-bold;
							margin-left: 15px;
							}
						}

					.comment-metadata {
						* {
							font-family: "RobotoCondensedLight";
							font-size: 15px;
							color: #777;
							}
						}

					.comment-content {
						font-family: "RobotoCondensedLight";
						padding: 10px;
						margin-bottom: 10px;
						background-color: rgba(0, 0, 0, 0.03);

						* {
							margin: 0;
							}
						}

					.reply {
						a {
							display: inline-block;
							background: none;
							border: 1px solid #000;
							padding: 7px 15px;
							color: #000;
							font-size: 14px;
							text-decoration: none;
							.animate;
							}

						a:hover {
							background: #000;
							color: #fff;
							}

						}

					}

				}
			}

		}

	.sidebar-blog {
		h1 {
			font-size: 1.15rem;
			}

		aside {
			margin-bottom: 2rem;
			}

		.widget_wpb_author {
			.author-post {
				text-align: center;

				.author-image {
					img {
						border-radius: 300px;
						}
					}

				.author-name {
					font-family: @font-room-bold;
					font-size: 1.5rem;
					}

				.author-description {
					font-family: "RobotoCondensedLight";
					font-size: 16px;
					}

				}
			}

		.widget_search {
			.search-form {
				position: relative;

				.search-field {
					background: none;
					border: none;
					width: 100%;
					border-bottom: 1px solid #000;
					padding: 10px 0;
					font-family: @font-roboto-light;
					}

				.search-submit {
					position: absolute;
					right: 0;
					top: 60%;
					background: url(/wp-content/themes/devdigital/assets/images/search.png) no-repeat center;
					border: none;
					background-size: contain;
					text-indent: 200%;
					white-space: nowrap;
					overflow: hidden;
					width: 25px;
					margin-top: -15px;
					padding: 0;
					}
				}
			}

		.widget_recent_entries {
			padding: 2.5rem;
			background-color: rgba(0, 0, 0, 0.03);

			ul {
				padding: 0;
				list-style: none;
				margin: 0;

				li {
					padding-left: 0;
					.animate;

					a {
						font-family: "RobotoCondensedLight";
						color: inherit;
						font-size: 16px;
						text-decoration: none;
						}

					}

				li:hover {
					padding-left: 1rem;
					}

				}
			}

		.widget_wpb_category {
			padding: 2.5rem;
			background-color: rgba(49, 224, 210, .3);
			font-family: "RobotoCondensedLight";

			ul.list-category {
				padding: 0;
				margin: 0;
				list-style: none;

				> li {
					position: relative;
					a {
						color: #000;
						font-weight: bold;
						}

					.children {
						padding-left: 1.5rem;

						li {
							list-style: none;

							a{
								font-weight: normal;
								}

							&:before {
								content: '—';
								display: inline-block;
								margin-right: 5px;
								}
							}
						}
					}
				}
			}

		.widget_calendar {
			.calendar_wrap {
				position: relative;

				caption {
					display: none;
					}

				table {
					width: 100%;
					margin: 2rem 0;

					thead, tbody {
						tr {
							td, th {
								text-align: center;
								padding: 10px 0;
								border: 1px solid rgba(0, 0, 0, .03);
								position: relative;
								font-family: @font-roboto-light;
								font-size: 16px;

								a {
									display: flex;
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									align-items: center;
									justify-content: center;
									background-color: @blue-color;
									color: #fff;
									text-decoration: none;
									font-family: "RobotoCondensedRegular";
									}
								}

							}
						}

					tfoot {
						tr {

							td {
								a {
									font-family: @font-roboto-light;
									font-size: 16px;
									color: inherit;
									}
								}

							td#prev {
								text-align: right;
								}

							td#next {
								text-align: left;
								}

							}
						}

					}
				}
			}

		.widget_tag_cloud {
			.tagcloud {
				a {
					font-family: @font-roboto-light;
					font-family: "RobotoCondensedLight";
					display: inline-block;
					vertical-align: top;
					padding: 6px 14px;
					margin: 0 6px 12px 0;
					font-size: 14px !important;
					background: #f7f6f6;
					color: #808080;
					border-radius: 4px;
					text-decoration: none;
					}

				a:hover {
					background: #e4e3e3;
					}
				}
			}

		.jetpack_subscription_widget {
			padding: 2.5rem;
			background-color: rgba(0, 0, 0, 0.03);
			font-size: 14px;

			input#subscribe-field-blog_subscription-2,
			input#subscribe-field-blog_subscription-3 {
				width: 100%;
				border: 0;
				background: none;
				border-bottom: 1px solid #000;
				padding: 10px 0;
				font-family: @font-roboto-light;
				}

			#subscribe-submit input[name="jetpack_subscriptions_widget"] {
				background: none;
				border: 1px solid #000;
				padding: 10px;
				}

			#subscribe-submit input[name="jetpack_subscriptions_widget"]:hover {
				background: #000;
				color: #fff;
				}

			}

		}

	.read-marker {
		display: block;
		position: fixed;
		top: 150px;
		right: 0;
		width: 65px;
		height: 30px;
		padding-left: 5px;
		background: black;
		color: white;
		font-size: 12px;
		line-height: 30px;
		opacity: 0;
		-webkit-transition: opacity .3s ease;
		-moz-transition: opacity .3s ease;
		-o-transition: opacity .3s ease;
		-ms-transition: opacity .3s ease;
		}

	.read-marker:before {
		display: block;
		position: absolute;
		left: -30px;
		top: 0;
		width: 0;
		height: 0;
		content: "";
		background: transparent;
		border: 15px solid transparent;
		border-right-color: black;
		}

	.last-read {
		margin-top: -15px;
		margin-top: -52px;
		display: block;
		position: fixed;
		top: 150px;
		top: 50%;
		left: 0;
		width: 150px;
		padding-left: 5px;
		background: black;
		color: white;
		font-size: 12px;
		line-height: 17px;
		opacity: 0;
		-webkit-transition: opacity 1.3s ease;
		-moz-transition: opacity 1.3s ease;
		-o-transition: opacity 1.3s ease;
		-ms-transition: opacity 1.3s ease;
		padding: 10px;
		height: 104px;
		cursor: pointer;
		}

	.last-read:after {
		display: block;
		position: absolute;
		left: 149px;
		top: 0;
		width: 0;
		height: 0;
		content: "";
		background: transparent;
		border: 52px solid transparent;
		border-left-color: black;
		}

	}

@media screen and (max-width: 992px) {

	.blog-list {
		.blog-list-article {
			article {
				footer {
					.category {
						li {
							border: 1px solid #31e0d2;
							color: #31e0d2;
							font-size: 14px;
							margin-right: 10px;
							padding: 5px 10px;
							margin-bottom: 10px;
							}
						}
					}
				}
			}
		}

	}

@media screen and (max-width: 767px) {

	.blog-list {
		display: flex;
		flex-direction: column;
		.blog-list-article {
			order: 2;
			article {
				}
			}
		.sidebar-blog {
			.widget_calendar {
				h1 {
					cursor: pointer;
					margin-bottom: 0;
					position: relative;
					}
				h1.click-h1 {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 40px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						}
					}
				h1.open {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 40px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						-webkit-transition: all .4s ease-out;
						-moz-transition: all .4s ease-out;
						-ms-transition: all .4s ease-out;
						-o-transition: all .4s ease-out;
						transition: all .4s ease-out;
						}
					}
				.calendar_wrap {
					position: relative;
					display: none;
					}
				}
			.widget_categories {
				h1 {
					cursor: pointer;
					margin-bottom: 0;
					position: relative;
					}
				h1.click-h1 {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 0;;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						}
					}
				h1.open {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 0;;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						-webkit-transition: all .4s ease-out;
						-moz-transition: all .4s ease-out;
						-ms-transition: all .4s ease-out;
						-o-transition: all .4s ease-out;
						transition: all .4s ease-out;
						}
					}
				ul {
					display: none;
					margin-top: 10px;
					}
				}
			}
		}

	.blog {
		display: flex;
		flex-direction: column;
		.blog-list-article {
			order: 2;
			article {
				}
			}
		.sidebar-blog {
			.widget_calendar {
				.calendar_wrap {
					position: relative;
					display: none;
					}
				}
			.widget_categories {
				h1 {
					cursor: pointer;
					margin-bottom: 0;
					position: relative;
					}
				h1.click-h1 {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 0;;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						}
					}
				h1.open {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: 0;;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						-webkit-transition: all .4s ease-out;
						-moz-transition: all .4s ease-out;
						-ms-transition: all .4s ease-out;
						-o-transition: all .4s ease-out;
						transition: all .4s ease-out;
						}
					}

				ul {
					display: none;
					margin-top: 10px;
					}
				}
			}

		}

	}

@media screen and (max-width: 543px) {

	#footer {
		margin-top: 0%;

		.container {
			padding-top: 25%;
			padding-bottom: 5%;
			}
		}

	}

@media screen and (max-width: 480px) {

	.blog-list {
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		.blog-list-article {
			order: 2;
			article {
				margin-bottom: 2rem;
				h1 {
					font-size: 1.5rem;
					}
				}
			}
		.sidebar-blog {
			.widget_calendar {
				h1 {
					cursor: pointer;
					margin-bottom: 0;
					position: relative;
					}
				h1.click-h1 {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -3px;
						right: 15px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						}
					}
				h1.open {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -3px;
						right: 15px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						-webkit-transition: all .4s ease-out;
						-moz-transition: all .4s ease-out;
						-ms-transition: all .4s ease-out;
						-o-transition: all .4s ease-out;
						transition: all .4s ease-out;
						}
					}
				.calendar_wrap {
					position: relative;
					display: none;
					}
				}
			.widget_categories {
				padding: 1.5rem;
				h1 {
					cursor: pointer;
					margin-bottom: 0;
					position: relative;
					}
				h1.click-h1 {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: -9px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						}
					}
				h1.open {
					&::after {
						content: '';
						width: 40px;
						height: 30px;
						position: absolute;
						top: -5px;
						right: -9px;
						background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						-webkit-transition: all .4s ease-out;
						-moz-transition: all .4s ease-out;
						-ms-transition: all .4s ease-out;
						-o-transition: all .4s ease-out;
						transition: all .4s ease-out;
						}
					}
				}
			}
		}

	.blog {
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		.blog-list-article {
			order: 2;
			article {
				margin-bottom: 2rem;
				h1 {
					font-size: 1.5rem;
					}
				}
			}
		.sidebar-blog {
			}
		}

	.comment-form {
		.comment-form-comment {
			textarea {
				width: 100%;
				}
			}
		}

	}

@media screen and (min-width: 768px) {

	.blog-list {
		.blog-list-article {
			order: 2;
			}
		.sidebar-blog {
			.widget_calendar {
				.calendar_wrap {
					position: relative;
					display: block !important;
					}
				}
			.widget_categories {
				ul {
					display: block !important;
					}
				}
			}

		}

	.blog {
		.blog-list-article {
			order: 2;
			article {
				footer {
					.category {
						li {
							border: 1px solid #31e0d2;
							color: #31e0d2;
							font-size: 14px;
							margin-right: 10px;
							padding: 5px 10px;
							margin-bottom: 10px;
							}
						}
					}
				}
			}
		.sidebar-blog {
			.widget_calendar {
				.calendar_wrap {
					position: relative;
					display: block !important;
					}
				}
			.widget_categories {
				ul {
					display: block !important;
					}
				}
			}
		}

	}