@margin-bottom: 30px;

@font-room-bold: 'Room-Black';
@font-room: 'Room';
@font-room-light: 'Room-Light';
@font-roboto-light: "RobotoCondensedLight";

@width-line: 100px;

@blue-color: #29c5b9;

.animate{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}