@import "mixins";

&.container-inner-project {
	padding: 0;

	> div {
		padding: 5rem 0;
		}

	// изображение проекта
	.image-project {
		width: 70%;
		margin: 0 auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 0;

		img {
			width: 100%;
			height: auto;
			}
		}

	// ОСНОВНАЯ ИНФОРМАЦИЯ О ПРОЕКТЕ
	.main-information-project {
		width: 90%;

		.left-column {
			text-align: right;

			.date-project {
				display: block;
				font-family: 'Room-light';
				}

			.name-client {
				font-family: @font-room-bold;
				font-size: 1.2rem;
				text-transform: uppercase;
				padding-bottom: 1rem;
				margin: 1rem 0;
				display: inline-block;
				padding-left: 20%;
				}

			.share{
				> div{
					margin-bottom: 10px;
					}
				}
			}

		.right-column {
			border-left: 1px solid @blue-color;

			h2 {
				font-family: @font-room-bold;
				font-size: 2.5rem;
				}

			.link-site {
				color: #fff;
				background-color: @blue-color;
				text-transform: uppercase;
				font-size: 15px;
				font-family: @font-room-bold;
				padding: 5px 10px;
				display: inline-block;
				border: 1px solid @blue-color;
				margin-right: 20px;
				text-decoration: none;
				.animate;
				&:hover {
					background-color: inherit;
					color: @blue-color;
					}
				}

			.tags {
				padding: 0;
				list-style: none;
				display: inline-block;
				vertical-align: baseline;
				margin: 0;
				font-size: 14px;

				li {
					display: inline-block;
					vertical-align: top;
					margin-right: 10px;
					font-family: 'Room-light';

					a {
						color: #8c8c8c;
						text-decoration: none;
						}
					}

				li:last-child {
					margin-right: 0;
					}

				}

			.description {
				margin: 1rem 0;
				font-size: 16px;
				font-family: @font-roboto-light;
				}

			}

		}

	// ИНФОРМАЦИЯ О ПРОЕКТЕ
	.information-project {
		.wrap-block-info {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 3rem 0;

			.info-block {
				h2 {
					font-family: @font-room-bold;
					text-transform: uppercase;
					font-size: 2.3rem;
					margin-bottom: 1rem;
					}

				.description {
					margin: 1rem 0;
					font-size: 16px;
					font-family: @font-roboto-light;
					}
				}

			.info-block.right {
				text-align: right;
				}

			.info-block.center {
				text-align: center;
				}

			.image-block {

				.image {
					background-size: contain;
					width: 100%;
					min-height: 500px;
					background-repeat: no-repeat;
					background-position: center;
					}

				.covered {
					width: 100%;
					height: 500px;
					background-size: cover;

					.changeable {
						background-size: cover;
						}

					}

				}

			&:first-child {
				margin-top: 0;
				}

			&:last-child {
				margin-bottom: 0;
				}
			}

		.noflex {
			display: block;
			}

		}

	// МАКЕТЫ
	.layouts-adaptive-project {
		.view {
			text-align: center;
			list-style: none;
			padding: 0;

			li {
				display: inline-block;
				padding: 5px 10px;
				margin: 0 3px;
				border: 1px solid #31e0d2;
				color: #31e0d2;
				text-transform: uppercase;
				font-size: 20px;
				font-family: @font-room-bold;
				cursor: pointer;
				margin-bottom: 15px;

				&.active {
					color: #fff;
					background-color: @blue-color;
					}
				}

			}
		.wrap {
			margin: 0;

			.info-mockup {
				.page {
					list-style: none;
					padding: 0;
					text-align: right;
					margin: 1rem 0;

					li {
						opacity: 0.5;

						span {
							display: inline-block;
							vertical-align: middle;
							}

						.name {
							font-family: 'Room-Light';
							margin-right: 5px;
							cursor: pointer;
							.animate;
							}

						.number {
							display: inline-block;
							font-size: 2rem;
							font-family: @font-room-bold;
							}

						}

					li.active {
						opacity: 1;
						}

					}

				.page:hover {

					li {
						opacity: 0.5;
						.name {
							visibility: visible;
							margin-right: 15px;
							opacity: 0.5;
							}
						}

					li.active {
						opacity: 1;
						.name {
							opacity: 1;
							}
						}

					li:hover {
						opacity: 1;
						.name {
							opacity: 1;
							}
						}

					}

				}

			.design-view {
				.mockup-pc {
					//background: url('/wp-content/themes/devdigital/assets/images/mockpu.png') no-repeat center;
					//background-size: contain;
					width: 100%;
					overflow: hidden;
					position: relative;

					.page {
						width: 72%;
						/* padding: 3% 2%; */
						margin: 0 auto;
						/* z-index: -1; */
						position: relative;
						height: 66%;
						overflow-y: scroll;
						margin-top: 3%;

						img {
							width: 100%;
							height: auto;
							}
						}

					}

				*::selection{
					background: transparent;
					}

				.device {
					display: none;
					text-align: center;

					.pc {

						}
					.notebook {
						width: 80%;
						}
					.ipad {
						width: calc(85vh * 0.7);
						}
					.phone {
						max-height: 70vh;
						width: calc(70vh * 0.5);
						}

					.layouts-wrap{
						width: 100%;
						height: 100%;
						overflow: hidden;
						}

					.layouts-list,
					.dragscroll {
						width: 100%;
						height: 100%;
						overflow: hidden;
						cursor: grab;
						cursor: -o-grab;
						cursor: -moz-grab;
						cursor: -webkit-grab;

						img:not(:first-child){
							display: none;
							}
						}

					.dragscroll#plane {
						padding-top: 2px;
						padding-left: 2px;
						}

					.dragscroll#phone {
						border: 2px solid #dedede;
						}

					}

				.device.active {
					display: flex;
					height: 85vh;
					align-items: center;
					justify-content: center;

					&:before{
						content: '';
						width: 100px;
						height: 90px;
						display: inline-block;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						background: url('/wp-content/themes/devdigital/assets/images/hand.svg');
						.animate;
						animation-name: scroll-mockup;
						animation-duration: 5s;
						animation-delay: 2s;
						animation-iteration-count: infinite;
						}
					}

				svg {
					max-height: 85vh;
					width: 100%;

					path,
					line {
						stroke-width: 0.5;
						}
					}
				}
			}
		}

	// ТЕХНОЛОГИИ

	.cd-horizontal-timeline {
		opacity: 0;
		background-color: #f9f9f9;
		margin: 2em auto;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		transition: opacity 0.2s;

		header {
			margin-bottom: 3rem;
			hgroup {
				text-align: center;

				h2 {
					text-transform: uppercase;
					font-family: @font-room-bold;
					font-size: 2.3rem;
					}

				h3 {
					font-family: @font-roboto-light;
					color: #b1b1b1;
					max-width: 600px;
					margin: 0 auto;
					position: relative;
					}
				}
			}

		.timeline {
			position: relative;
			height: 150px;
			width: 90%;
			max-width: 800px;
			margin: 0 auto;
			}

		.events-wrapper {
			position: relative;
			height: 100%;
			margin: 0 40px;
			overflow: hidden;

			&::after,
			&::before {
				/* these are used to create a shadow effect at the sides of the timeline */
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				height: 100%;
				width: 20px;
				}

			&::before {
				left: 0;
				background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
				background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
				}
			&::after {
				right: 0;
				background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
				background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
				}
			}

		.events {
			/* this is the grey line/timeline */
			position: absolute;
			z-index: 1;
			left: 0;
			top: 75px;
			height: 2px;
			/* width will be set using JavaScript */
			background: #dfdfdf;
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;

			a {
				position: absolute;
				bottom: 15px;
				z-index: 2;
				text-align: center;
				font-size: 1.3rem;
				padding: 5px 15px;
				color: #29c5b9;
				-webkit-transform: translateZ(0);
				-moz-transform: translateZ(0);
				-ms-transform: translateZ(0);
				-o-transform: translateZ(0);
				transform: translateZ(0);
				/* background-color: #29c5b9; */
				border-radius: 50px;
				text-decoration: none;
				border: 2px solid #29c5b9;

				&.selected{
					color: #fff;
					background-color: #29c5b9;
					}

				&::after {
					/* this is used to create the event spot */
					content: '';
					position: absolute;
					left: 50%;
					right: auto;
					-webkit-transform: translateX(-50%);
					-moz-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					-o-transform: translateX(-50%);
					transform: translateX(-50%);
					bottom: -22px;
					height: 12px;
					width: 12px;
					border-radius: 50%;
					border: 2px solid #dfdfdf;
					background-color: #f8f8f8;
					-webkit-transition: background-color 0.3s, border-color 0.3s;
					-moz-transition: background-color 0.3s, border-color 0.3s;
					transition: background-color 0.3s, border-color 0.3s;
					}

				&:hover::after {
					background-color: @blue-color;
					border-color: @blue-color;
					}

				&.selected {
					pointer-events: none;
					}

				&.selected::after {
					background-color: @blue-color;
					border-color: @blue-color;
					}

				&.older-event::after {
					border-color: @blue-color;
					}
				}
			}

		.filling-line {
			/* this is used to create the green line filling the timeline */
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: @blue-color;
			-webkit-transform: scaleX(0);
			-moz-transform: scaleX(0);
			-ms-transform: scaleX(0);
			-o-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-ms-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
			}

		.events-content {
			position: relative;
			width: 100%;
			margin: 2em 0;
			overflow: hidden;
			-webkit-transition: height 0.4s;
			-moz-transition: height 0.4s;
			transition: height 0.4s;

			li {
				position: absolute;
				z-index: 1;
				width: 100%;
				left: 0;
				top: 0;
				-webkit-transform: translateX(-100%);
				-moz-transform: translateX(-100%);
				-ms-transform: translateX(-100%);
				-o-transform: translateX(-100%);
				transform: translateX(-100%);
				padding: 0 5%;
				opacity: 0;
				-webkit-animation-duration: 0.4s;
				-moz-animation-duration: 0.4s;
				animation-duration: 0.4s;
				-webkit-animation-timing-function: ease-in-out;
				-moz-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;

				&.selected {
					/* visible event content */
					position: relative;
					z-index: 2;
					opacity: 1;
					-webkit-transform: translateX(0);
					-moz-transform: translateX(0);
					-ms-transform: translateX(0);
					-o-transform: translateX(0);
					transform: translateX(0);
					}

				&.enter-right,
				&.leave-right {
					-webkit-animation-name: cd-enter-right;
					-moz-animation-name: cd-enter-right;
					animation-name: cd-enter-right;
					}

				&.enter-left,
				&.leave-left {
					-webkit-animation-name: cd-enter-left;
					-moz-animation-name: cd-enter-left;
					animation-name: cd-enter-left;
					}

				&.leave-right,
				&.leave-left {
					-webkit-animation-direction: reverse;
					-moz-animation-direction: reverse;
					animation-direction: reverse;
					}

				& > * {
					max-width: 800px;
					margin: 0 auto;
					}
				}

			h2 {
				font-size: 2.5rem;
				font-family: @font-room-bold;
				line-height: 1.2;
				}
			.description {
				font-size: 1.2rem;
				color: #959595;
				font-family: @font-roboto-light;
				}
			.image {
				img {
					width: 100%;
					height: 100%;
					}
				}
			}

		ul, ol {
			list-style: none;
			}

		&::before {
			/* never visible - this is used in jQuery to check the current MQ */
			content: 'mobile';
			display: none;
			}
		}

	.cd-horizontal-timeline.loaded {
		/* show the timeline after events position has been set (using JavaScript) */
		opacity: 1;
		}

	.cd-timeline-navigation {
		a {
			/* these are the left/right arrows to navigate the timeline */
			position: absolute;
			z-index: 1;
			top: 50%;
			bottom: auto;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			height: 34px;
			width: 34px;
			border-radius: 50%;
			border: 2px solid #dfdfdf;
			/* replace text with an icon */
			overflow: hidden;
			color: transparent;
			text-indent: 100%;
			white-space: nowrap;
			-webkit-transition: border-color 0.3s;
			-moz-transition: border-color 0.3s;
			transition: border-color 0.3s;

			&::after {
				/* arrow icon */
				content: '';
				position: absolute;
				height: 16px;
				width: 16px;
				left: 50%;
				top: 50%;
				bottom: auto;
				right: auto;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				-o-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				background: url('/wp-content/themes/devdigital/assets/images/cd-arrow.svg') no-repeat 0 0;
				}

			&.prev {
				left: 0;
				-webkit-transform: translateY(-50%) rotate(180deg);
				-moz-transform: translateY(-50%) rotate(180deg);
				-ms-transform: translateY(-50%) rotate(180deg);
				-o-transform: translateY(-50%) rotate(180deg);
				transform: translateY(-50%) rotate(180deg);
				}
			&.next {
				right: 0;
				}
			&.inactive {
				cursor: not-allowed;
				}
			&.inactive::after {
				background-position: 0 -16px;
				}
			}
		}

	.no-touch {
		.cd-timeline-navigation {
			a {
				&:hover {
					border-color: @blue-color;
					}
				&.inactive:hover {
					border-color: #dfdfdf;
					}
				}
			}
		}

	// ПОДЕЛИТЬСЯ
	.tell-aboutus-project {
		text-align: center;

		h2 {
			text-transform: uppercase;
			font-family: @font-room-bold;
			}

		p {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			font-family: @font-roboto-light;
			font-size: 16px;
			}

		.social {
			margin-top: 35px;
			}

		}

	.progect-navigation {
		.image {
			min-height: 150px;
			}
		}

	}

/*
* АДАПТИВ
*/
@media screen and (max-width: 992px) {

	&.container-inner-project {
		// ОСНОВНАЯ ИНФОРМАЦИЯ О ПРОЕКТЕ
		.main-information-project {
			width: 90%;
			margin: 0 auto;
			.left-column {
				text-align: right;

				.date-project {
					display: block;
					font-family: 'Room-light';
					}

				.name-client {
					font-family: @font-room-bold;
					font-size: 1.2rem;
					text-transform: uppercase;
					padding-bottom: 1rem;
					margin: 1rem 0;
					display: inline-block;
					padding-left: 20%;
					}

				}

			.right-column {
				border-left: 1px solid @blue-color;

				h2 {
					font-family: @font-room-bold;
					font-size: 2.5rem;
					}

				.link-site {
					color: #fff;
					background-color: @blue-color;
					text-transform: uppercase;
					font-size: 15px;
					font-family: @font-room-bold;
					padding: 5px 10px;
					display: inline-block;
					border: 1px solid @blue-color;
					margin-right: 20px;
					text-decoration: none;
					.animate;
					&:hover {
						background-color: inherit;
						color: @blue-color;
						}
					}

				.tags {
					padding: 0;
					list-style: none;
					display: inline-block;
					vertical-align: baseline;
					margin: 0;
					font-size: 14px;

					li {
						display: inline-block;
						vertical-align: top;
						margin-right: 10px;
						font-family: 'Room-light';

						a {
							color: #8c8c8c;
							text-decoration: none;
							}
						}

					li:last-child {
						margin-right: 0;
						}

					}

				.description {
					margin: 1rem 0;
					font-size: 16px;
					font-family: @font-roboto-light;
					}

				}

			}
		// ИНФОРМАЦИЯ О ПРОЕКТЕ
		.tell-aboutus-project {
			padding: 0 15px;
			}
		.information-project {
			.wrap-block-info {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 3rem 0;
				flex-direction: column;
				.info-block {
					width: 100%;
					h2 {
						font-family: @font-room-bold;
						text-transform: uppercase;
						font-size: 2.3rem;
						margin-bottom: 1rem;
						}

					.description {
						margin: 1rem 0;
						font-size: 16px;
						font-family: @font-roboto-light;
						}
					}

				.info-block.right {
					text-align: center;
					}

				.info-block.center {
					text-align: center;
					}

				.info-block.left {
					order: 1;
					text-align: center;
					}

				.image-block {
					width: 100%;
					order: 2;
					.image {
						background-size: contain;
						width: 100%;
						min-height: 320px;
						background-repeat: no-repeat;
						background-position: center;
						}

					.covered {
						width: 100%;
						height: 500px;
						background-size: cover;

						.changeable {
							background-size: cover;
							}

						}

					}

				&:first-child {
					margin-top: 0;
					}

				&:last-child {
					margin-bottom: 0;
					}
				}

			.noflex {
				display: block;
				}

			}
		// МАКЕТЫ
		.layouts-adaptive-project {
			.view {
				text-align: center;
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					padding: 5px 10px;
					margin: 0 3px;
					border: 1px solid #31e0d2;
					color: #31e0d2;
					text-transform: uppercase;
					font-size: 20px;
					font-family: @font-room-bold;
					cursor: pointer;
					margin-bottom: 15px;

					&.active {
						color: #fff;
						background-color: @blue-color;
						}
					}

				}
			.wrap {
				margin: 0;

				.info-mockup {
					width: 30%;
					.page {
						list-style: none;
						padding: 0;
						text-align: right;
						margin: 1rem 0;

						li {
							opacity: 0.5;

							span {
								display: inline-block;
								vertical-align: middle;
								}

							.name {
								font-family: 'Room-Light';
								visibility: visible;
								opacity: 1;
								margin-right: 0;
								cursor: pointer;
								.animate;
								}

							.number {
								display: inline-block;
								font-size: 2rem;
								font-family: @font-room-bold;
								}

							}

						li.active {
							opacity: 1;
							}

						}

					}

				.design-view {
					width: 70%;
					.mockup-pc {
						//background: url('/wp-content/themes/devdigital/assets/images/mockpu.png') no-repeat center;
						//background-size: contain;
						width: 100%;
						overflow: hidden;
						position: relative;
						.page {
							width: 72%;
							/* padding: 3% 2%; */
							margin: 0 auto;
							/* z-index: -1; */
							position: relative;
							height: 66%;
							overflow-y: scroll;
							margin-top: 3%;

							img {
								width: 100%;
								height: auto;
								}
							}

						}

					.device {
						display: none;

						.layouts-list {
							width: 100%;
							height: 100%;
							overflow-y: scroll
							}

						.layouts-list.plane {
							padding-top: 2px;
							padding-left: 2px;
							}

						.layouts-list.phone {
							border: 1px solid #000
							}



						}

					.device.active {
						display: block;
						}

					svg {
						height: 100%;
						max-height: 80vh;
						path,
						line {
							stroke-width: 0.5;
							}
						}
					}
				}
			}
		}

	}

@media screen and (max-width: 767px) {

	&.container-inner-project {
		// ОСНОВНАЯ ИНФОРМАЦИЯ О ПРОЕКТЕ
		.main-information-project {
			width: 90%;

			.left-column {
				text-align: left;
				margin-bottom: 20px;
				.date-project {
					display: block;
					font-family: 'Room-light';
					}

				.name-client {
					font-family: @font-room-bold;
					font-size: 1.2rem;
					text-transform: uppercase;
					padding-bottom: 1rem;
					margin: 1rem 0;
					display: inline-block;
					padding-left: 0;
					}

				}

			.right-column {
				border-left: 1px solid @blue-color;

				h2 {
					font-family: @font-room-bold;
					font-size: 2.5rem;
					}

				.link-site {
					color: #fff;
					background-color: @blue-color;
					text-transform: uppercase;
					font-size: 15px;
					font-family: @font-room-bold;
					padding: 5px 10px;
					display: inline-block;
					border: 1px solid @blue-color;
					margin-right: 20px;
					text-decoration: none;
					.animate;
					&:hover {
						background-color: inherit;
						color: @blue-color;
						}
					}

				.tags {
					padding: 0;
					list-style: none;
					display: inline-block;
					vertical-align: baseline;
					margin: 0;
					font-size: 14px;

					li {
						display: inline-block;
						vertical-align: top;
						margin-right: 10px;
						font-family: 'Room-light';

						a {
							color: #8c8c8c;
							text-decoration: none;
							}
						}

					li:last-child {
						margin-right: 0;
						}

					}

				.description {
					margin: 1rem 0;
					font-size: 16px;
					font-family: @font-roboto-light;
					}

				}

			}
		// МАКЕТЫ
		.layouts-adaptive-project {
			.view {
				text-align: center;
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					padding: 5px 10px;
					margin: 0 3px;
					border: 1px solid #31e0d2;
					color: #31e0d2;
					text-transform: uppercase;
					font-size: 20px;
					font-family: @font-room-bold;
					cursor: pointer;
					margin-bottom: 15px;

					&.active {
						color: #fff;
						background-color: @blue-color;
						}
					}

				}
			.wrap {
				margin: 0;

				.info-mockup {
					width: 100%;
					.page {
						list-style: none;
						padding: 0;
						text-align: right;
						margin: 1rem 0;

						li {
							opacity: 0.5;
							display: flex;
							align-items: center;
							span {
								display: inline-block;
								vertical-align: middle;
								}

							.name {
								font-family: 'Room-Light';
								visibility: visible;
								opacity: 1;
								margin-right: 0;
								cursor: pointer;
								order: 2;
								margin-left: 15px;
								.animate;
								}

							.number {
								display: inline-block;
								font-size: 2rem;
								font-family: @font-room-bold;
								}

							}

						li.active {
							opacity: 1;
							}

						}

					.page:hover {

						li {
							opacity: 0.5;
							.name {
								visibility: visible;
								margin-right: 15px;
								opacity: 0.5;
								}
							}

						li.active {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						li:hover {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						}

					}

				.design-view {
					width: 100%;
					.mockup-pc {
						//background: url('/wp-content/themes/devdigital/assets/images/mockpu.png') no-repeat center;
						//background-size: contain;
						width: 100%;
						overflow: hidden;
						position: relative;

						svg {
							width: 100%;
							height: 100%;
							}

						.page {
							width: 72%;
							/* padding: 3% 2%; */
							margin: 0 auto;
							/* z-index: -1; */
							position: relative;
							height: 66%;
							overflow-y: scroll;
							margin-top: 3%;

							img {
								width: 100%;
								height: auto;
								}
							}

						}

					.device {
						display: none;

						.layouts-list {
							width: 100%;
							height: 100%;
							overflow-y: scroll
							}

						.layouts-list.plane {
							padding-top: 2px;
							padding-left: 2px;
							}

						.layouts-list.phone {
							border: 1px solid #000
							}

						}

					.device.active {
						display: block;
						}

					svg {
						path,
						line {
							stroke-width: 0.5;
							}
						}
					}
				}
			}
		// ОТЗЫВ КЛИЕНТА
		.client-project {
			position: relative;

			h2 {
				text-align: center;
				margin-bottom: 1rem;
				text-transform: uppercase;
				font-family: @font-room-bold;
				}

			.wrap {
				display: flex;
				flex-direction: column;
				text-align: center;
				.photo-review {
					text-align: center;
					position: relative;
					margin-bottom: 1rem;
					.image {
						margin: 0 auto;
						width: 190px;
						height: 190px;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 300px;
						display: inline-block;
						}

					}

				.line-wrap {
					text-align: center;
					padding: 0;
					display: none;
					}

				.review-info {
					.name {
						font-family: @font-room;
						font-size: 1.7rem;
						line-height: 1.5rem;
						}

					.post {
						}

					.text {
						font-family: @font-roboto-light;
						color: #848e92;

						a {
							color: @blue-color;
							}
						}
					}

				}
			}
		}

	}

@media screen and (max-width: 543px) {
	#footer {
		margin-top: -10%;
		}
	}

@media screen and (max-width: 480px) {
	&.container-inner-project {
		> div {
			padding: 3rem 0;
			}

		// ИНФОРМАЦИЯ О ПРОЕКТЕ
		.tell-aboutus-project {
			padding: 0 15px;
			}
		.information-project {
			.wrap-block-info {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 3rem 0;
				flex-direction: column;
				.info-block {
					width: 100%;
					h2 {
						font-family: @font-room-bold;
						text-transform: uppercase;
						font-size: 2.3rem;
						margin-bottom: 1rem;
						}

					.description {
						margin: 1rem 0;
						font-size: 16px;
						font-family: @font-roboto-light;
						}
					}

				.info-block.right {
					text-align: center;
					}

				.info-block.center {
					text-align: center;
					}

				.info-block.left {
					order: 1;
					text-align: center;
					}

				.image-block {
					width: 100%;
					order: 2;
					.image {
						background-size: contain;
						width: 100%;
						min-height: 240px;
						background-repeat: no-repeat;
						background-position: center;
						}

					.covered {
						width: 100%;
						height: 500px;
						background-size: cover;

						.changeable {
							background-size: cover;
							}

						}

					}

				&:first-child {
					margin-top: 0;
					}

				&:last-child {
					margin-bottom: 0;
					}
				}

			.noflex {
				display: block;
				}

			}

		// МАКЕТЫ
		.layouts-adaptive-project {
			.view {
				text-align: center;
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					padding: 5px 10px;
					margin: 0 3px;
					border: 1px solid #31e0d2;
					color: #31e0d2;
					text-transform: uppercase;
					font-size: 20px;
					font-family: @font-room-bold;
					cursor: pointer;
					margin-bottom: 15px;

					&.active {
						color: #fff;
						background-color: @blue-color;
						}
					}

				}
			.wrap {
				margin: 0;

				.info-mockup {
					width: 100%;
					.page {
						list-style: none;
						padding: 0;
						text-align: right;
						margin: 1rem 0;

						li {
							opacity: 0.5;

							span {
								display: inline-block;
								vertical-align: middle;
								}

							.name {
								font-family: 'Room-Light';
								visibility: visible;
								opacity: 1;
								margin-right: 0;
								cursor: pointer;
								.animate;
								}

							.number {
								display: inline-block;
								font-size: 2rem;
								font-family: @font-room-bold;
								}

							}

						li.active {
							opacity: 1;
							}

						}

					.page:hover {

						li {
							opacity: 0.5;
							.name {
								visibility: visible;
								margin-right: 15px;
								opacity: 0.5;
								}
							}

						li.active {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						li:hover {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						}

					}

				.design-view {
					width: 100%;
					.mockup-pc {
						//background: url('/wp-content/themes/devdigital/assets/images/mockpu.png') no-repeat center;
						//background-size: contain;
						width: 100%;
						overflow: hidden;
						position: relative;

						svg {
							width: 100%;
							height: 100%;
							}

						.page {
							width: 72%;
							/* padding: 3% 2%; */
							margin: 0 auto;
							/* z-index: -1; */
							position: relative;
							height: 66%;
							overflow-y: scroll;
							margin-top: 3%;

							img {
								width: 100%;
								height: auto;
								}
							}

						}

					.device {
						display: none;

						.layouts-list {
							width: 100%;
							height: 100%;
							overflow-y: scroll
							}

						.layouts-list.plane {
							padding-top: 2px;
							padding-left: 2px;
							}

						.layouts-list.phone {
							border: 1px solid #000
							}

						}

					.device.active {
						display: block;
						}

					svg {
						path,
						line {
							stroke-width: 0.5;
							}
						}
					}
				}
			}

		// ТЕХНОЛОГИИ
		.tecnology-project {
			background-color: #f9f9f9;

			header {
				margin-bottom: 3rem;
				hgroup {
					text-align: center;

					h2 {
						text-transform: uppercase;
						font-family: @font-room-bold;
						font-size: 2.3rem;
						}

					h3 {
						font-family: @font-roboto-light;
						color: #b1b1b1;
						max-width: 600px;
						margin: 0 auto;
						position: relative;
						}
					}
				}

			.steps {
				padding: 0;
				list-style: none;
				display: flex;

				li {
					display: inline-block;
					vertical-align: top;
					width: 24%;
					text-align: right;
					position: relative;
					cursor: pointer;

					span {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: 40px;
						border: 1px solid @blue-color;
						color: @blue-color;
						border-radius: 100px;
						font-family: @font-room-bold;
						.animate;
						}

					span:after {
						content: '';
						position: absolute;
						/* width: 100%; */
						height: 1px;
						background-color: #dbdce0;
						left: 10px;
						right: 50px;
						top: 50%;
						margin-top: -1px;
						.animate;
						}
					}

				li.first {
					width: 15%;

					span:after {
						left: 15px;
						}

					span:before {
						content: '';
						width: 6px;
						height: 6px;
						position: absolute;
						left: 0;
						border-radius: 20px;
						background-color: #dbdce0;
						top: 50%;
						margin-top: -3px;
						.animate;
						}

					}

				li.last {
					width: 38%;

					span {
						margin-right: 35%;
						}

					span:after {
						right: 67%;
						}

					span:before {
						content: '';
						position: absolute;
						/* width: 100%; */
						height: 1px;
						background-color: #dbdce0;
						left: 74%;
						right: 10px;
						top: 50%;
						margin-top: -1px;
						.animate;
						}

					}

				li.last:after {
					content: '';
					width: 6px;
					height: 6px;
					position: absolute;
					right: 0;
					border-radius: 20px;
					background-color: #dbdce0;
					top: 50%;
					margin-top: -3px;
					.animate;
					}

				li.active,
				li:hover {
					span {
						background-color: @blue-color;
						color: #fff;
						}

					span:before,
					span:after {
						background-color: @blue-color;
						}
					}

				li.last.active::after,
				li:last-child:hover::after {
					background-color: @blue-color;
					}

				}

			.info-steps {
				padding: 0;
				list-style: none;
				margin: 2rem 0;

				li {
					width: 100%;
					display: none;

					h2 {
						text-align: center;
						font-family: @font-room-bold;
						font-size: 2rem;
						}

					.description {
						font-family: @font-roboto-light;
						text-align: center;
						width: 60%;
						margin: 0 auto;
						color: #848e92;
						}

					.image {
						text-align: center;

						img {
							width: 90%;
							height: auto;
							}
						}

					&.active {
						display: block;
						}
					}

				}
			}

		}
	}

@media screen and (max-width: 380px) {
	&.container-inner-project {
		// ИНФОРМАЦИЯ О ПРОЕКТЕ
		.tell-aboutus-project {
			padding: 0 15px;
			}
		.information-project {
			.wrap-block-info {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 3rem 0;
				flex-direction: column;
				.info-block {
					width: 100%;
					h2 {
						font-family: @font-room-bold;
						text-transform: uppercase;
						font-size: 2.3rem;
						margin-bottom: 1rem;
						}

					.description {
						margin: 1rem 0;
						font-size: 16px;
						font-family: @font-roboto-light;
						}
					}

				.info-block.right {
					text-align: center;
					}

				.info-block.center {
					text-align: center;
					}

				.info-block.left {
					order: 1;
					text-align: center;
					}

				.image-block {
					width: 100%;
					order: 2;
					.image {
						background-size: contain;
						width: 100%;
						min-height: 170px;
						background-repeat: no-repeat;
						background-position: center;
						}

					.covered {
						width: 100%;
						height: 500px;
						background-size: cover;

						.changeable {
							background-size: cover;
							}

						}

					}

				&:first-child {
					margin-top: 0;
					}

				&:last-child {
					margin-bottom: 0;
					}
				}

			.noflex {
				display: block;
				}

			}
		// МАКЕТЫ
		.layouts-adaptive-project {
			.view {
				text-align: center;
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					padding: 5px 10px;
					margin: 0 3px;
					border: 1px solid #31e0d2;
					color: #31e0d2;
					text-transform: uppercase;
					font-size: 20px;
					font-family: @font-room-bold;
					cursor: pointer;
					margin-bottom: 15px;

					&.active {
						color: #fff;
						background-color: @blue-color;
						}
					}

				}
			.wrap {
				margin: 0;

				.info-mockup {
					width: 100%;
					.page {
						list-style: none;
						padding: 0;
						text-align: right;
						margin: 1rem 0;

						li {
							opacity: 0.5;

							span {
								display: inline-block;
								vertical-align: middle;
								}

							.name {
								font-family: 'Room-Light';
								visibility: visible;
								opacity: 1;
								margin-right: 0;
								cursor: pointer;
								.animate;
								}

							.number {
								display: inline-block;
								font-size: 2rem;
								font-family: @font-room-bold;
								}

							}

						li.active {
							opacity: 1;
							}

						}

					.page:hover {

						li {
							opacity: 0.5;
							.name {
								visibility: visible;
								margin-right: 15px;
								opacity: 0.5;
								}
							}

						li.active {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						li:hover {
							opacity: 1;
							.name {
								opacity: 1;
								}
							}

						}

					}

				.design-view {
					width: 100%;
					.mockup-pc {
						//background: url('/wp-content/themes/devdigital/assets/images/mockpu.png') no-repeat center;
						//background-size: contain;
						width: 100%;
						overflow: hidden;
						position: relative;

						svg {
							width: 100%;
							height: 100%;
							}

						.page {
							width: 72%;
							/* padding: 3% 2%; */
							margin: 0 auto;
							/* z-index: -1; */
							position: relative;
							height: 66%;
							overflow-y: scroll;
							margin-top: 3%;

							img {
								width: 100%;
								height: auto;
								}
							}

						}

					.device {
						display: none;

						.layouts-list {
							width: 100%;
							height: 100%;
							overflow-y: scroll
							}

						.layouts-list.plane {
							padding-top: 2px;
							padding-left: 2px;
							}

						.layouts-list.phone {
							border: 1px solid #000
							}

						}

					.device.active {
						display: block;
						}

					svg {
						path,
						line {
							stroke-width: 0.5;
							}
						}
					}
				}
			}
		}

	}

@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 6em auto;
		}

	.cd-horizontal-timeline::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
		}
	}

@media only screen and (min-width: 768px) {
	.cd-horizontal-timeline .events-content h2 {
		font-size: 7rem;
		}

	.cd-horizontal-timeline .events-content em {
		font-size: 2rem;
		}
	}

@keyframes scroll-mockup {
	0%{
		transform: translateY(0);
		}
	33%{
		transform: translateY(-100px);
		}
	66%{
		transform: translateY(0);
		}
	100%{
		transform: translateY(0);
		}
	}

@-webkit-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
		}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		}
	}

@-moz-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-moz-transform: translateX(100%);
		}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
		}
	}

@keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
		}
	}

@-webkit-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
		}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		}
	}

@-moz-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100%);
		}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
		}
	}

@keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
		}
	}