@import "mixins";

&.sale-list{
	padding: 0;
	list-style: none;
	margin-bottom: 2.5rem;

	li{
		margin-bottom: 2.5rem;

		a{
			text-decoration: none;
			color: inherit;
			}

		h2{
			text-transform: uppercase;
			font-family: @font-room-bold;
			font-size: 2.3rem;
			display: inline-block;
			vertical-align: middle;
			margin-right: 1.5rem;
			}

		.short-description{
			font-family: @font-roboto-light;
			font-size: 16px;
			margin-bottom: 1rem;
			margin-top:1rem;
			display: none;
			}

		.open-short-text,
		.readmore{
			border-bottom: 1px dotted #b1b1b1;
			font-family: @font-roboto-light;
			font-size: 14px;
			color: #b1b1b1;
			display: inline-block;
			margin-right: 1.5rem;
			}

		.open-short-text.hidden{
			display: none;
			}

		}
	}

#actionGenerate{
	text-align: center;
	}

#wrapGenerate{
	display: inline-block;
	position: relative;
	}

#generateText{
	display: none;
	}


@media screen and (max-width: 543px) {

	#footer {
		margin-top: -5%;

	}


}

@media screen and (max-width: 480px) {

	&.sale-list{
		padding: 0;
		list-style: none;
		margin-bottom: 2.5rem;

		li{
			margin-bottom: 2.5rem;
			a{
				text-decoration: none;
				color: inherit;
			}

			h2{
				text-transform: uppercase;
				font-family: @font-room-bold;
				font-size: 2.3rem;
				display: block;
				vertical-align: middle;
				margin-right: 1.5rem;
			}

			.short-description{
				font-family: @font-roboto-light;
				font-size: 16px;
				margin-bottom: 1rem;
				display: none;
			}

			.open-short-text,
			.readmore{
				border-bottom: 1px dotted #b1b1b1;
				font-family: @font-roboto-light;
				font-size: 14px;
				color: #b1b1b1;
				display: inline-block;
				margin-right: 1.5rem;
			}

			.open-short-text.hidden{
				display: none;
			}

		}
	}

}