@import "mixins";

&.content-sale{
	font-family: @font-roboto-light ;
	}

&.button-sale{
	text-align: center;
	margin: 20px 0;
	}


@media screen and (max-width: 580px) {


	&.content-sale{
		font-family: @font-roboto-light ;
		padding:0 15px ;
	}

}

@media screen and (max-width: 543px) {

	#footer {
		margin-top: -10%;

	}


}