@import "mixins";

&.services {
	padding-top: 10vh;
	padding-bottom: 15vh;

	svg {
	path,
	circle{
		stroke: #000 !important;
		}

		text{
			fill: #000 !important;
			}
	}

	ul{
		padding: 0;
		list-style: none;
		text-align: center;

		.item-service{
			float: none;
			display: inline-block;
			vertical-align: top;
			width: 23%;
			margin: 0 5%;
			position: relative;
			font-family: 'Room-Light';

			svg{
				fill: #fff;
				text-transform: uppercase;
				}

			.subservice-list{
				position: relative;
				text-align: center;
				font-family: @font-roboto-light;
				padding-top: 30px;

				li{
					margin-bottom: .5rem;
					}

				a{
					color: #000;
					}
				}


			}
		}
	}


@media screen and (max-width: 992px) {

	&.services {
		padding-top: 0vh;
		padding-bottom: 15vh;

		svg {
			path {
				stroke: #000 !important;
			}

			text{
				fill: #000 !important;
			}
		}

		ul{
			padding: 0;
			list-style: none;
			text-align: center;

			.item-service{
				float: none;
				display: block;
				vertical-align: top;
				width: 50%;
				margin:0 auto;
				position: relative;
				font-family: 'Room-Light';

				svg{
					fill: #fff;
					text-transform: uppercase;
				}

				.subservice-list{
					position: relative;
					text-align: center;
					font-family: @font-roboto-light;
					padding-top: 0px;
					margin-top:-50px;

					li{
						margin-bottom: .5rem;
					}

					a{
						color: #000;
					}
				}


			}
		}
	}

}

@media screen and (max-width: 767px) {

	&.services {
		padding-top: 10vh;
		padding-bottom: 15vh;

		svg {
			path {
				stroke: #000 !important;
			}

			text{
				fill: #000 !important;
			}
		}

		ul{
			padding: 0;
			list-style: none;
			text-align: center;
			.item-service{
				float: none;
				display: block;
				vertical-align: top;
				width: 70%;
				margin: 0 auto;
				position: relative;
				font-family: 'Room-Light';

				svg{
					fill: #fff;
					text-transform: uppercase;
				}

				.subservice-list{
					position: relative;
					text-align: center;
					font-family: @font-roboto-light;
					padding-top: 0px;
					margin-top:-50px;

					li{
						margin-bottom: .5rem;
					}

					a{
						color: #000;
					}
				}


			}
		}
	}

}

@media screen and (max-width: 543px) {

	#footer {
		margin-top: -20%;

		.container {
			padding-top: 25%;
			padding-bottom: 5%;
		}
	}

	&.services {
		padding-top: 0;
		}

}

@media screen and (max-width: 480px) {

	&.services {
		padding-bottom: 15vh;

		svg {
			path {
				stroke: #000 !important;
			}

			text{
				fill: #000 !important;
			}
		}

		ul{
			padding: 0;
			list-style: none;
			text-align: center;
			.item-service{
				float: none;
				display: block;
				vertical-align: top;
				width: 100%;
				margin: 0 auto;
				position: relative;
				font-family: 'Room-Light';

				svg{
					fill: #fff;
					text-transform: uppercase;
				}

				.subservice-list{
					position: relative;
					text-align: center;
					font-family: @font-roboto-light;
					padding-top: 0px;
					margin-top:-50px;

					li{
						margin-bottom: .5rem;
					}

					a{
						color: #000;
					}
				}


			}
		}
	}

}