@import "mixins";

section {
	.row-flex {
		display: flex;
		flex-flow: row wrap;
		}

	padding: 5rem 0;
	header {
		margin-bottom: 5rem;
		hgroup {
			text-align: center;

			h2 {
				text-transform: uppercase;
				font-family: @font-room-bold;
				font-size: 2.3rem;
				}

			h3 {
				font-family: @font-roboto-light;
				color: #b1b1b1;
				max-width: 600px;
				margin: 0 auto;
				position: relative;
				}

			h3:after {
				content: '';
				width: @width-line;
				height: 1px;
				background-color: #86e7df;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -(@width-line/2);
				margin-bottom: -20px;
				}

			}
		}
	}

/*
* ОПИСАНИЕ
*/
&.service-descripton {
	.description-block {
		.image {

			img {
				width: 100%;
				height: auto;
				}
			}
		.description {
			.description-items {
				margin-top: 30px;
				.description-item {
					margin-bottom: 20px;
					display: flex;
					.icon-wrap {
						margin-right: 30px;
						padding-top: 5px;
						}
					.item-text {
						span.head {
							}
						p.descr {
							}
						}
					}
				}
			}
		}
	}

/*
* ВАРИАНТЫ РЕАЛИЗАЦИИ
*/
&.service-variants {
	background-color: #f9f9f9;

	.variants {
		margin: 0;
		padding: 0;
		.current-variant {
			list-style-type: none;
			text-align: center;
			margin-bottom: 25px;

			.variant-inner {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 2em;
				border: 1px solid #eee;
				background-color: #fff;

				.button-wrap {
					margin: 20px 0;
					a.button {
						display: block;
						}

					.download_brief{
						margin-top: 1rem;
						a{
							color: @blue-color;
							}
						}

					}
				h3 {
					text-transform: uppercase;
					margin: 15px 0 10px;
					font-size: 1.5rem;
					font-family: @font-room;
					}
				.list {
					list-style-type: none;
					margin: 0;
					padding: 0;
					font-family: @font-roboto-light;

					li {
						}
					}
				}



			}
		}
	}

/*
* ПРЕИМУЩЕСТВА
*/
&.service-advantages {
	.advantages {
		.item-advantage {
			text-align: center;
			margin-bottom: 5rem;

			h3 {
				text-transform: uppercase;
				margin: 15px 0 10px;
				font-size: 1.5rem;
				font-family: @font-room;
				}

			.description-advantages {
				font-family: @font-roboto-light;
				color: #848e92;
				}
			}
		}
	}

/*
* ОТЗЫВЫ
*/
&.service-reviews {
	background-color: rgba(49, 224, 210, 0.3);
	overflow: hidden;
	.reviews-slide {
		.slide {
			display: flex;
			align-items: center;
			margin: 0 auto;
			}
		}
	}

/*
* ЭТАПЫ РАБОТ
*/
&.service-stage {
	.stage-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 5rem;
			&:last-child {
				margin-bottom: 0;
				}
			.image {
				text-align: center;
				img {
					}
				}

			.description {
				display: flex;
				.number {
					margin-right: 60px;
					width: 70px;
					height: 70px;
					text-align: center;
					line-height: 66px;
					font-size: 1.7rem;
					color: #fff;
					background-color: @blue-color;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					flex-shrink: 0;
					}
				.content {
					h3 {
						font-size: 1.5rem;
						font-family: @font-room;
						}
					.subtitle {
						color: #848e92;
						font-family: @font-roboto-light;
						}
					}
				}

			}

		}
	}

/*
* ВОПРОС-ОТВЕТ
*/
&.service-question-answer {
	.qa-form {
		.question-anaswer {
			.list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					margin-bottom: 2rem;

					h3 {
						font-size: 1.4rem;
						font-family: @font-room;
						margin-bottom: 1rem;
						}

					h4 {
						color: #848e92;
						line-height: 1.5rem;
						font-family: @font-roboto-light;
						}
					}
				}
			}

		.form {

			.form-item {
				background-color: rgba(49, 224, 210, 0.3);
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 25px 30px 25px;

				h3 {
					font-family: @font-room-bold;
					font-size: 1.5rem;
					}
				p {
					font-family: @font-roboto-light;
					}
				form {
					input {
						width: 100%;
						margin-bottom: 10px;
						border: 0;
						background: none;
						color: #000;
						border-bottom: 1px solid #000;
						font-size: 15px;
						padding: 5px;
						font-family: "RobotoCondensedLight";
						}
					textarea {
						width: 100%;
						resize: none;
						margin-bottom: 10px;
						border: 0;
						background: none;
						color: #000;
						border-bottom: 1px solid #000;
						font-size: 15px;
						padding: 5px;
						font-family: "RobotoCondensedLight";
						}
					.submit-wrap {
						text-align: center;
						}
					input[type="submit"] {
						width: 70%;
						display: inline-block;
						font-size: 16px;
						text-transform: uppercase;
						color: #fff;
						background-color: @blue-color;
						border: 1px solid @blue-color;
						padding: 10px;
						text-decoration: none;
						.animate;
						&:hover {
							background-color: #fff;
							color: @blue-color;
							}
						}
					}
				}
			}
		}
	}

&.service-navigation {
	padding: 0;
	.nav-links {
		.nav-previous,
		.nav-next {
			display: inline-block;
			vertical-align: top;
			width: 49%;

			a {
				color: #000;
				text-decoration: none;
				}

			}

		.nav-next {
			text-align: right;
			}

		}
	}

&.services-list {
	.wrap {
		margin: 3rem 0;
		display: flex;
		align-items: center;

		.text {
			> a {
				color: inherit;
				text-decoration: none;
				}

			h2 {
				font-family: @font-room;
				font-size: 2rem;
				margin: 0;
				}
			.description {
				font-family: @font-roboto-light;
				color: #848e92;
				}

			}

		.image {
			text-align: center;
			}

		}
	}

#animatedModal {
	background: #29c5b9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #29c5b9 0%, #477ab1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29c5b9), color-stop(100%, #4c47b1));
	background: -webkit-linear-gradient(top, #29c5b9 0%, #477ab1 100%);
	background: -o-linear-gradient(top, #29c5b9 0%, #477ab1 100%);
	background: -ms-linear-gradient(top, #29c5b9 0%, #477ab1 100%);
	background: linear-gradient(to bottom, #29c5b9 0%, #477ab1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29c5b9', endColorstr='#ad4cb7', GradientType=0);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	#closebt-container {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 40px;
		.closebt {
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			cursor: pointer;
			}
		}

	.modal-content {
		background: none;
		border: 0;

		.brief-form-wrap {
			.container {
				margin-top: 1%;
				background-color: #fff;
				min-height: calc(-51vh);
				height: calc(~"100vh - 150px");
				overflow-y: auto;

				.form-wrap{
					padding: 0 5vw;

					.row{
						margin-bottom: 50px;
						}

					.title-form{
						h2{
							text-align: center;
							font-family: @font-room;
							text-transform: uppercase;
							padding: 50px 0;
							margin-bottom: 0;
							}
						}

					h3{
						font-family: @font-room;
						text-transform: uppercase;
						font-size: 1.2rem;
						}

					.description-field{
						font-size: 14px;
						}

					textarea,
					input:not([type="submit"]){
						width: 100%;
						border: 0;
						line-height: 31px;
						padding: 0 15px;
						font-family: "RobotoCondensedLight";
						}

					textarea{
						background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
						background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
						background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
						background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
						background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
						background-size: 100% 100%, 100% 100%, 100% 31px;
						&:focus {
							outline: none;
							}
						}

					input[type="text"],
					input[type="email"],
					input[type="tel"]{
						border-bottom: 1px solid #ccc;
						margin-bottom: .5rem;
						}

					.field-wrap{
						position: relative;
						margin-bottom: .5rem;

						label{
							width: 90%;
							}

						span{
							display: inline-block;
							width: 100%;
							font-family: @font-room;
							text-transform: uppercase;
							font-size: 1.2rem;
							margin: 0;
							}
						input[type="checkbox"]{
							display: none;
							}

						input[type="checkbox"] + span::after {
							content: '';
							position: absolute;
							background: url('/wp-content/themes/devdigital/assets/images/brief-checkbox.png') no-repeat;
							width: 30px;
							height: 30px;
							right: 0;
							}

						input[type="checkbox"]:checked + span::after {
							content: '';
							background-position: -34px 0;
							}

						//input[type="checkbox"] ~ span{
						//	background-color: red;
						//	}


						}

					.description{
						font-size: 14px;
						margin: 0;
						padding-left: 15px;
						}

					.submit > div{
						text-align: center;
						margin: 1rem 0;
						}

					.submit .captha > div > div{
						margin: 0 auto;
						}


					}


				}
			}
		}

	}

@media screen and (max-width: 992px) {

	section.services-list{

		padding: 0 0 5rem;
	}
	&.service-question-answer {
		.qa-form {

			.form {
				text-align: center;
				.form-item {
					background-color: rgba(49, 224, 210, 0.3);
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 25px 30px 25px;
					max-width: 70%;
					margin: 0 auto;
					}
				}
			}
		}

	&.service-reviews {
		.reviews-slide {
			.slide {
				display: block;
				}
			}
		}

	}

@media screen and (max-width: 767px) {

	&.service-descripton {
		padding:0rem 0 5rem;
		.description-block {
			.image {
				margin-bottom: 3rem;
				img {
					width: 100%;
					height: auto;
					}
				}
			.description {
				text-align: center;
				.description-items {
					margin-top: 30px;
					text-align: left;
					}
				}
			}
		}

	&.service-variants {
		background-color: #f9f9f9;

		.variants {
			margin: 0;
			padding: 0;
			.current-variant {
				list-style-type: none;
				text-align: center;
				margin-bottom: 25px;
				width: 100%;
				.variant-inner {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 2em;
					border: 1px solid #eee;
					background-color: #fff;

					.button-wrap {
						margin: 20px 0;
						a.button {
							display: block;
							}
						}
					h3 {
						text-transform: uppercase;
						margin: 15px 0 10px;
						font-size: 1.5rem;
						font-family: @font-room;
						}
					.list {
						list-style-type: none;
						margin: 0;
						padding: 0;
						font-family: @font-roboto-light;

						li {
							}
						}
					}

				}
			}
		}

	&.service-stage {
		.stage-list {
			list-style-type: none;
			li {
				margin-bottom: 5rem;
				&:last-child {
					margin-bottom: 0;
					}
				&:nth-child(even) {
					.description {
						margin-bottom: 1rem;
						}
					}
				&:nth-child(odd) {
					.description {
						margin-top: 1rem;
						}
					}
				.image {
					text-align: center;
					img {
						}
					}

				.description {
					display: flex;
					.number {
						margin-right: 60px;
						width: 70px;
						height: 70px;
						text-align: center;
						line-height: 66px;
						font-size: 1.7rem;
						color: #fff;
						background-color: @blue-color;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						flex-shrink: 0;
						}
					.content {
						h3 {
							font-size: 1.5rem;
							font-family: @font-room;
							}
						.subtitle {
							color: #848e92;
							font-family: @font-roboto-light;
							}
						}
					}

				}

			}
		}

	}

@media screen and (max-width: 543px) {

	#footer {
		margin-top: -5%;

		.container {
			padding-top: 25%;
			padding-bottom: 5%;
			}
		}

	}

@media screen and (max-width: 767px) {

	&.services-list {
		.wrap {
			margin: 3rem 0;
			display: flex;
			align-items: left;
			flex-direction: column;
			&:nth-child(odd) {
				.text {
					order: 2;
					}
				}
			.text {
				width: 100%;
				margin: 1rem 0;
				a {
					color: inherit;
					text-decoration: none;
					}

				h2 {
					font-family: @font-room;
					font-size: 2rem;
					margin: 0;
					}
				.description {
					font-family: @font-roboto-light;
					color: #848e92;
					}

				.readmore {
					a {
						color: #fff;
						border: 1px solid @blue-color;
						background-color: @blue-color;
						font-family: @font-roboto-light;
						padding: 10px 25px;
						font-size: 16px;
						display: inline-block;
						.animate;

						&:hover {
							color: @blue-color;
							background: #fff;
							}
						}
					}

				}

			.image {
				width: 100%;
				text-align: center;
				img {
					max-width: 100%;
					height: auto;
					}
				}

			}
		}

	}


@media screen and (max-width: 543px) {

	#footer {
		margin-top: -15%;

	}


}

@media screen and (max-width: 480px) {

	#animatedModal{
		.modal-content{
			margin: 10px 0;
		}
	}


	&.service-stage {
		.stage-list {
			list-style-type: none;
			li {
				margin-bottom: 5rem;
				&:last-child {
					margin-bottom: 0;
					}
				&:nth-child(even) {
					.description {
						margin-bottom: 1rem;
						}
					}
				&:nth-child(odd) {
					.description {
						margin-top: 1rem;
						}
					}
				.image {
					text-align: center;
					img {
						}
					}

				.description {
					display: flex;
					.number {
						margin-right: 20px;
						width: 70px;
						height: 70px;
						text-align: center;
						line-height: 66px;
						font-size: 1.7rem;
						color: #fff;
						background-color: @blue-color;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						flex-shrink: 0;
						}
					.content {
						h3 {
							font-size: 1.5rem;
							font-family: @font-room;
							}
						.subtitle {
							color: #848e92;
							font-family: @font-roboto-light;
							}
						}
					}

				}

			}
		}

	&.service-question-answer {
		.qa-form {

			.form {
				text-align: center;
				.form-item {
					background-color: rgba(49, 224, 210, 0.3);
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 25px 30px 25px;
					max-width: 90%;
					margin: 0 auto;
					form {
						input[type="submit"] {
							width: 100%;
							display: inline-block;
							font-size: 16px;
							text-transform: uppercase;
							color: #fff;
							background-color: @blue-color;
							border: 1px solid @blue-color;
							padding: 10px;
							text-decoration: none;
							.animate;
							&:hover {
								background-color: #fff;
								color: @blue-color;
								}
							}
						}
					}
				}
			}
		}

	&.service-navigation {
		padding: 0;
		.nav-links {
			.nav-previous,
			.nav-next {
				display: inline-block;
				vertical-align: top;
				width: 100%;

				a {
					color: #000;
					text-decoration: none;
					}

				}

			.nav-next {
				text-align: right;
				}

			}
		}

	}

@media screen and (max-width: 359px) {

	.rc-anchor{
		-webkit-transform: scale(.8)!important;
		-moz-transform: scale(.8)!important;
		-ms-transform: scale(.8)!important;
		-o-transform: scale(.8)!important;
		transform: scale(.8)!important;
	}

	.col-md-12.captha{
		> div{
			margin-left:-15px;
		}
	}

}