@import "mixins";

.wsp-container {

	h2{
		text-transform: uppercase;
		font-family: @font-room-bold;
		}

	ul {
		list-style: none;
		margin-bottom: 1.5rem;

		* {
			color: #000;
			}

		li{
			font-family: @font-roboto-light;

			&:before{
				content: '—';
				display: inline-block;
				margin-right: 5px;
				}
			}
		}

	.wsp-category-title{
		a{
			color: @blue-color;
			}
		}
	}