@import "mixins";

.we {
	section {
		margin-bottom: 10vh;

		header {
			margin-bottom: @margin-bottom;
			hgroup {
				text-align: center;

				h2 {
					text-transform: uppercase;
					font-family: @font-room-bold;
					font-size: 2.3rem;
					}

				h3 {
					font-family: @font-roboto-light;
					color: #b1b1b1;
					max-width: 600px;
					margin: 0 auto;
					position: relative;
					}

				h3:after {
					content: '';
					width: @width-line;
					height: 1px;
					background-color: #86e7df;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -(@width-line/2);
					margin-bottom: -20px;
					}

				}
			}

		}
	}

.aboutus {
	aside {
		font-family: @font-roboto-light;
		font-size: 16px;
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
		}
	}

// ФИЛВОРД
.wordcard {
	.words {

		.words-list {
			text-align: center;
			margin-bottom: 15px;
			visibility: hidden;

			a {
				display: inline-block;
				color: #000;
				text-decoration: none;
				font-size: 12px;
				text-transform: uppercase;

				span {
					.animate;
					}
				}

			a:after {
				content: '/';
				color: #86e7df;
				padding-left: 10px;
				padding-right: 5px;
				}

			a:last-child:after {
				content: '';
				padding: 0;
				}

			a:hover span {
				color: #86e7df;
				}
			}

		.words-wrap {
			width: 630px;
			margin: 0 auto;

			.element {
				display: inline-block;
				vertical-align: top;
				font-family: @font-roboto-light;
				width: 25px;
				text-align: center;
				float: left;
				font-size: 14px;
				font-weight: 100;
				color: #000;
				text-transform: uppercase;
				transform: rotateX(0deg);
				.animate;

				span.active-word {
					color: #31e0d2;
					font-weight: bold;
					}
				}

			.gray-color {
				color: #e4e4e4;
				}

			.transform {
				transform: rotateX(180deg);
				}

			}

		}
	}

// ЭТО МЫ
.itsme {
	.itsme-list {
		text-align: center;
		.item-itsme {
			margin-bottom: @margin-bottom;
			display: inline-block;
			float: none;
			vertical-align: top;
			margin-right: -5px;
			.small-image {
				background-size: cover;
				//height: 300px;
				//height: 212px;
				background-position: center;
				width: 280px;
				height:250px;
				//width: 165px;
				margin: 0 auto;

				&:hover{
					background-position: -2312px 0px !important;
					}
				}
			}
		}
	}

// ЛЕТОПИСЬ
.chronicle {
	.chronicle-list {
		padding: @margin-bottom 0;
		.item {
			text-align: center;
			margin-bottom: 3vh;

			.value {
				font-family: @font-room;
				font-size: 2rem;
				}

			.description {
				font-size: 14px;
				color: #848484;
				font-family: @font-roboto-light;
				}
			}

		.item:nth-child(3n+1) {
			clear: both;
			}
		}
	}

// СЕРТИФИКАТЫ
.certificates {
	.certificates-list {
		.item {
			margin-bottom: @margin-bottom;

			.popup-gallery {
				text-decoration: none;

				.item__image {
					width: 100%;
					height: 30vh;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					}

				h4 {
					text-align: center;
					margin: 10px 0;
					font-family: @font-roboto-light;
					color: #b1b1b1;
					text-transform: uppercase;
					font-size: .85rem;
					}
				}
			}
		}
	}

/*
* POPUP окно
*/

#animatedModal {
	cursor: url('/wp-content/themes/devdigital/assets/images/plus.cur'), auto;

	/*
	* КНОПКА ЗАКРЫТИЯ ОКНА
	*/
	#closebt-container {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 40px;

		.closebt {
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			cursor: pointer;
			}

		.closebt:hover {
			transform: rotate(90deg);
			}
		}

	.container-fluid {
		border: 0;
		background: transparent;

		.itsme-more {
			padding-top: 5vh;

			.item__image {
				text-align: center;

				img {
					width: auto;
					height: 85.3vh;
					}
				}

			.item__description {
				color: #fff;
				font-family: @font-roboto-light;

				.full-name {
					font-family: @font-room-bold;
					text-transform: uppercase;
					font-size: 3.5rem;
					margin: 0;
					position: relative;
					margin-bottom: 10px;
					}

				.full-name:before {
					content: "";
					width: @width-line;
					height: 1px;
					background-color: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
					}

				.post {
					font-size: 2rem;
					text-transform: uppercase;
					}

				.email-social-list {
					list-style: none;
					padding: 0;
					margin: 1rem 0;

					li {
						display: inline-block;
						margin: 0 10px;

						a {
							color: #fff;
							text-decoration: none;

							span {
								display: flex;
								border-radius: 50px;
								width: 50px;
								height: 50px;
								align-items: center;
								justify-content: center;
								font-size: 30px;
								background-color: transparent;
								}
							}
						}
					}

				}

			.item__description.left {
				text-align: right;

				.full-name:before {
					left: auto;
					right: 0;
					}

				.email-social-list{
					li:last-child{
						margin-right: 0;
						}
					}

				}
			.item__description.right {
				text-align: left;

				.email-social-list{
					li:first-child{
						margin-left: 0;
						}
					}
				}

			}

		}

	}


@media screen and (max-width: 992px) {
	.we section{
		margin-bottom: 6vh;
	}

	// ЭТО МЫ
	.itsme {
		.itsme-list {
			.item-itsme {
				width: 50%;
				margin-bottom: @margin-bottom;
				.small-image {
					background-size: cover;
					//height: 300px;
					//height: 212px;
					background-position: center;
					width: 280px;
					height:250px;
					//width: 165px;
					margin: 0 auto;

					&:hover{
						background-position: -2312px 0px !important;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {

	// ЭТО МЫ
	.itsme {
		.itsme-list {
			.item-itsme {
				width: 100%;
				margin-bottom: @margin-bottom;
				.small-image {
					background-size: cover;
					//height: 300px;
					//height: 212px;
					background-position: center;
					width: 280px;
					height:250px;
					//width: 165px;
					margin: 0 auto;

					&:hover{
						background-position: -2312px 0px !important;
					}
				}
			}
		}
	}

	.modal-content{
		.hidden{
			display: none !important;
		}
	}

	.itsme-more:first-child {
		display: flex;
		flex-direction: column;
	}

	.itsme-more:first-child .item__image{
		order: 2;
	}

	.wordcard{
		.words{
			.words-wrap{
				width:100%;
				.row{
					margin-left:0px;

				}
				.element{
					width:22px;
				}
			}
		}
	}

	#animatedModal {
		.container-fluid {
			.itsme-more {
				.item__description {
					.full-name {
						font-family: "Room-Black";
						font-size: 3.5rem;
						margin: 0 0 10px;
						line-height: 50px;
						padding-bottom:20px;
						position: relative;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 590px) {
	.wordcard{
		.words{
			.words-wrap{
				width:100%;
				.row{
					margin-left:0px;
					margin-right:0px;
					text-align: center;
				}
				.element{
					width:17px;
					float: none;
				}
			}
		}
	}
}

@media screen and (max-width: 543px) {

	#footer {
		margin-top: -20%;

		.container {
			padding-top: 25%;
			padding-bottom: 5%;
		}
	}

}

@media screen and (max-width: 480px) {
	.wordcard{
		.words{
			.words-wrap{
				width:100%;
				.row{
					margin-left:0px;
					margin-right:0px;
					text-align: center;
				}
				.element{
					width:13px;
					float: none;
				}
			}
		}
	}

	#animatedModal {
		.container-fluid {
			.itsme-more {
				.item__description {
					.full-name {
						font-family: "Room-Black";
						font-size: 3rem;
						margin: 0 0 10px;
						line-height: 50px;
						padding-bottom:20px;
						position: relative;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	section.certificates{
		padding-bottom: 40px;
	}

	.naoTooltip{
		width:200px !important;
	}
	.naoTooltip.nt-large{
		max-width: 200px !important;
	}
}

@media screen and (max-width: 360px) {
	.wordcard{
		.words{
			.words-wrap{
				width:100%;
				.row{
					margin-left:0px;
					margin-right:0px;
					text-align: center;
				}
				.element{
					width:11px;
					float: none;
					font-size:12px;
				}
			}
		}
	}
}
