
@font-face {
	font-family: "RobotoCondensedRegular";
	src: url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
	src: url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
	url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
	url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}


@font-face {
	font-family: "RobotoCondensedLight";
	src: url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
	src: url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
	url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
	url("/wp-content/themes/devdigital/assets/css/fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}




/*!* font-family: "LatoBold"; *!*/
/*@font-face {*/
	/*font-family: "LatoBold";*/
	/*src: url("LatoBold/LatoBold.eot");*/
	/*src: url("LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),*/
	/*url("LatoBold/LatoBold.woff") format("woff"),*/
	/*url("LatoBold/LatoBold.ttf") format("truetype");*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*}*/
/*!* font-family: "LatoItalic"; *!*/
/*@font-face {*/
	/*font-family: "LatoItalic";*/
	/*src: url("LatoItalic/LatoItalic.eot");*/
	/*src: url("LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),*/
	/*url("LatoItalic/LatoItalic.woff") format("woff"),*/
	/*url("LatoItalic/LatoItalic.ttf") format("truetype");*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*}*/
/*!* font-family: "LatoLight"; *!*/
/*@font-face {*/
	/*font-family: "LatoLight";*/
	/*src: url("LatoLight/LatoLight.eot");*/
	/*src: url("LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),*/
	/*url("LatoLight/LatoLight.woff") format("woff"),*/
	/*url("LatoLight/LatoLight.ttf") format("truetype");*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*}*/
/*!* font-family: "LatoBoldItalic"; *!*/
/*@font-face {*/
	/*font-family: "LatoBoldItalic";*/
	/*src: url("LatoBoldItalic/LatoBoldItalic.eot");*/
	/*src: url("LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),*/
	/*url("LatoBoldItalic/LatoBoldItalic.woff") format("woff"),*/
	/*url("LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*}*/
/*!* font-family: "LatoLightItalic"; *!*/
/*@font-face {*/
	/*font-family: "LatoLightItalic";*/
	/*src: url("LatoLightItalic/LatoLightItalic.eot");*/
	/*src: url("LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),*/
	/*url("LatoLightItalic/LatoLightItalic.woff") format("woff"),*/
	/*url("LatoLightItalic/LatoLightItalic.ttf") format("truetype");*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*}*/



@font-face {
	font-family: 'Room-Black';
	src: url('/wp-content/themes/devdigital/assets/css/fonts/Room-Black/Room-Black.eot?#iefix') format('embedded-opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Black/Room-Black.otf')  format('opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Black/Room-Black.woff') format('woff'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Black/Room-Black.ttf')  format('truetype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Black/Room-Black.svg#Room-Black') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Room-Light';
	src: url('/wp-content/themes/devdigital/assets/css/fonts/Room-Light/Room-Light.eot?#iefix') format('embedded-opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Light/Room-Light.otf')  format('opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Light/Room-Light.woff') format('woff'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Light/Room-Light.ttf')  format('truetype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room-Light/Room-Light.svg#Room-Light/Room-Light') format('svg');
	font-weight: normal;
	font-style: normal;
	}


@font-face {
	font-family: 'Room';
	src: url('/wp-content/themes/devdigital/assets/css/fonts/Room/Room.eot?#iefix') format('embedded-opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room/Room.otf')  format('opentype'),
	url('/wp-content/themes/devdigital/assets/css/fonts/Room/Room.woff') format('woff'), url('/wp-content/themes/devdigital/assets/css/fonts/Room/Room.ttf')  format('truetype'), url('/wp-content/themes/devdigital/assets/css/fonts/Room/Room.svg#Room') format('svg');
	font-weight: normal;
	font-style: normal;
	}

