.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.abrakadabra-list {
  margin-bottom: 2rem;
}
.abrakadabra-list .item {
  padding: 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.abrakadabra-list .item .image {
  width: 100%;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.abrakadabra-list .item .image .description {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  /*display: flex;*/
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  flex-direction: column;
  justify-content: center;
}
.abrakadabra-list .item .image .description h2 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #29c5b9;
  margin-bottom: 1rem;
  font-family: 'Room-Black';
}
.abrakadabra-list .item .image .description h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "RobotoCondensedLight";
}
.abrakadabra-list .item:nth-child(4n+1) {
  clear: both;
}
.abrakadabra-list .item:hover {
  padding: 0;
}
.abrakadabra-list .item:hover .description {
  opacity: 1;
}
#footer {
  margin-top: 5%;
}
@media screen and (max-width: 992px) {
  .abrakadabra-list {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
  }
  .abrakadabra-list .item {
    padding: 7px;
    width: 33.3333%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .abrakadabra-list .item .image {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .abrakadabra-list .item .image .description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    /*display: flex;*/
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    flex-direction: column;
    justify-content: center;
  }
  .abrakadabra-list .item .image .description h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #29c5b9;
    margin-bottom: 1rem;
    font-family: 'Room-Black';
  }
  .abrakadabra-list .item .image .description h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "RobotoCondensedLight";
  }
  .abrakadabra-list .item:nth-child(4n+1) {
    clear: both;
  }
  .abrakadabra-list .item:hover {
    padding: 0;
  }
  .abrakadabra-list .item:hover .description {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .abrakadabra-list {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
  }
  .abrakadabra-list .item {
    padding: 7px;
    width: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .abrakadabra-list .item .image {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .abrakadabra-list .item .image .description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    /*display: flex;*/
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    flex-direction: column;
    justify-content: center;
  }
  .abrakadabra-list .item .image .description h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #29c5b9;
    margin-bottom: 1rem;
    font-family: 'Room-Black';
  }
  .abrakadabra-list .item .image .description h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "RobotoCondensedLight";
  }
  .abrakadabra-list .item:nth-child(4n+1) {
    clear: both;
  }
  .abrakadabra-list .item:hover {
    padding: 0;
  }
  .abrakadabra-list .item:hover .description {
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .abrakadabra-list {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
  }
  .abrakadabra-list .item {
    padding: 7px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .abrakadabra-list .item .image {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .abrakadabra-list .item .image .description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    /*display: flex;*/
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    flex-direction: column;
    justify-content: center;
  }
  .abrakadabra-list .item .image .description h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #29c5b9;
    margin-bottom: 1rem;
    font-family: 'Room-Black';
  }
  .abrakadabra-list .item .image .description h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "RobotoCondensedLight";
  }
  .abrakadabra-list .item:nth-child(4n+1) {
    clear: both;
  }
  .abrakadabra-list .item:hover {
    padding: 0;
  }
  .abrakadabra-list .item:hover .description {
    opacity: 1;
  }
}
