.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.entry-content {
  font-family: "RobotoCondensedLight";
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.title-before-blog {
  margin-bottom: 2rem;
  background-color: rgba(49, 224, 210, 0.3);
  padding: 1rem;
  font-size: 1.2rem;
}
.blog-list .blog-list-article article,
.blog .blog-list-article article {
  margin-bottom: 3rem;
}
.blog-list .blog-list-article article .image-preview-post,
.blog .blog-list-article article .image-preview-post {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.blog-list .blog-list-article article .image-preview-post img,
.blog .blog-list-article article .image-preview-post img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-list .blog-list-article article .image-preview-post:hover img,
.blog .blog-list-article article .image-preview-post:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.blog-list .blog-list-article article h1,
.blog .blog-list-article article h1 {
  font-size: 2rem;
  margin: 0;
}
.blog-list .blog-list-article article h1 a,
.blog .blog-list-article article h1 a {
  color: inherit;
  text-decoration: none;
}
.blog-list .blog-list-article article .info-post,
.blog .blog-list-article article .info-post {
  margin-bottom: .7rem;
  margin-top: .5rem;
}
.blog-list .blog-list-article article .info-post p,
.blog .blog-list-article article .info-post p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #b3b3b1;
  margin-right: 15px;
  margin-bottom: 0;
}
.blog-list .blog-list-article article .content-post,
.blog .blog-list-article article .content-post {
  clear: both;
  color: #777777;
  margin-bottom: 1rem;
}
.blog-list .blog-list-article article .content-post blockquote,
.blog .blog-list-article article .content-post blockquote {
  border-left: 2px solid #29c5b9;
}
.blog-list .blog-list-article article .content-post blockquote p,
.blog .blog-list-article article .content-post blockquote p {
  font-size: 1.5rem;
  padding-left: 20px;
}
.blog-list .blog-list-article article footer ul,
.blog .blog-list-article article footer ul {
  padding: 0;
  list-style: none;
}
.blog-list .blog-list-article article footer ul li,
.blog .blog-list-article article footer ul li {
  display: inline-block;
  vertical-align: top;
}
.blog-list .blog-list-article article footer .tags li,
.blog .blog-list-article article footer .tags li {
  font-family: "RobotoCondensedLight";
  padding: 6px 14px;
  margin: 0 6px 12px 0;
  font-size: 12px;
  background: #f7f6f6;
  color: #808080;
  border-radius: 4px;
  text-decoration: none;
}
.blog-list .blog-list-article article footer .readmore a,
.blog .blog-list-article article footer .readmore a {
  padding: 7px 10px;
  font-size: 14px;
}
.blog-list .comments-wrap h2,
.blog .comments-wrap h2 {
  font-family: 'Room-Black';
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.blog-list .comments-wrap .comments-area > ol,
.blog .comments-wrap .comments-area > ol {
  padding: 0;
}
.blog-list .comments-wrap .comments-area ol,
.blog .comments-wrap .comments-area ol {
  list-style: none;
}
.blog-list .comments-wrap .comments-area ol .comment-body .comment-author b,
.blog .comments-wrap .comments-area ol .comment-body .comment-author b {
  font-family: 'Room-Black';
  margin-left: 15px;
}
.blog-list .comments-wrap .comments-area ol .comment-body .comment-metadata *,
.blog .comments-wrap .comments-area ol .comment-body .comment-metadata * {
  font-family: "RobotoCondensedLight";
  font-size: 15px;
  color: #777;
}
.blog-list .comments-wrap .comments-area ol .comment-body .comment-content,
.blog .comments-wrap .comments-area ol .comment-body .comment-content {
  font-family: "RobotoCondensedLight";
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.03);
}
.blog-list .comments-wrap .comments-area ol .comment-body .comment-content *,
.blog .comments-wrap .comments-area ol .comment-body .comment-content * {
  margin: 0;
}
.blog-list .comments-wrap .comments-area ol .comment-body .reply a,
.blog .comments-wrap .comments-area ol .comment-body .reply a {
  display: inline-block;
  background: none;
  border: 1px solid #000;
  padding: 7px 15px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-list .comments-wrap .comments-area ol .comment-body .reply a:hover,
.blog .comments-wrap .comments-area ol .comment-body .reply a:hover {
  background: #000;
  color: #fff;
}
.blog-list .sidebar-blog h1,
.blog .sidebar-blog h1 {
  font-size: 1.15rem;
}
.blog-list .sidebar-blog aside,
.blog .sidebar-blog aside {
  margin-bottom: 2rem;
}
.blog-list .sidebar-blog .widget_wpb_author .author-post,
.blog .sidebar-blog .widget_wpb_author .author-post {
  text-align: center;
}
.blog-list .sidebar-blog .widget_wpb_author .author-post .author-image img,
.blog .sidebar-blog .widget_wpb_author .author-post .author-image img {
  border-radius: 300px;
}
.blog-list .sidebar-blog .widget_wpb_author .author-post .author-name,
.blog .sidebar-blog .widget_wpb_author .author-post .author-name {
  font-family: 'Room-Black';
  font-size: 1.5rem;
}
.blog-list .sidebar-blog .widget_wpb_author .author-post .author-description,
.blog .sidebar-blog .widget_wpb_author .author-post .author-description {
  font-family: "RobotoCondensedLight";
  font-size: 16px;
}
.blog-list .sidebar-blog .widget_search .search-form,
.blog .sidebar-blog .widget_search .search-form {
  position: relative;
}
.blog-list .sidebar-blog .widget_search .search-form .search-field,
.blog .sidebar-blog .widget_search .search-form .search-field {
  background: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  font-family: "RobotoCondensedLight";
}
.blog-list .sidebar-blog .widget_search .search-form .search-submit,
.blog .sidebar-blog .widget_search .search-form .search-submit {
  position: absolute;
  right: 0;
  top: 60%;
  background: url(/wp-content/themes/devdigital/assets/images/search.png) no-repeat center;
  border: none;
  background-size: contain;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  width: 25px;
  margin-top: -15px;
  padding: 0;
}
.blog-list .sidebar-blog .widget_recent_entries,
.blog .sidebar-blog .widget_recent_entries {
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
}
.blog-list .sidebar-blog .widget_recent_entries ul,
.blog .sidebar-blog .widget_recent_entries ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.blog-list .sidebar-blog .widget_recent_entries ul li,
.blog .sidebar-blog .widget_recent_entries ul li {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-list .sidebar-blog .widget_recent_entries ul li a,
.blog .sidebar-blog .widget_recent_entries ul li a {
  font-family: "RobotoCondensedLight";
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}
.blog-list .sidebar-blog .widget_recent_entries ul li:hover,
.blog .sidebar-blog .widget_recent_entries ul li:hover {
  padding-left: 1rem;
}
.blog-list .sidebar-blog .widget_wpb_category,
.blog .sidebar-blog .widget_wpb_category {
  padding: 2.5rem;
  background-color: rgba(49, 224, 210, 0.3);
  font-family: "RobotoCondensedLight";
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category,
.blog .sidebar-blog .widget_wpb_category ul.list-category {
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li {
  position: relative;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li a,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li a {
  color: #000;
  font-weight: bold;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li .children,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li .children {
  padding-left: 1.5rem;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li .children li,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li .children li {
  list-style: none;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li .children li a,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li .children li a {
  font-weight: normal;
}
.blog-list .sidebar-blog .widget_wpb_category ul.list-category > li .children li:before,
.blog .sidebar-blog .widget_wpb_category ul.list-category > li .children li:before {
  content: '—';
  display: inline-block;
  margin-right: 5px;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap,
.blog .sidebar-blog .widget_calendar .calendar_wrap {
  position: relative;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap caption,
.blog .sidebar-blog .widget_calendar .calendar_wrap caption {
  display: none;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table,
.blog .sidebar-blog .widget_calendar .calendar_wrap table {
  width: 100%;
  margin: 2rem 0;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table thead tr td,
.blog .sidebar-blog .widget_calendar .calendar_wrap table thead tr td,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tbody tr td,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tbody tr td,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table thead tr th,
.blog .sidebar-blog .widget_calendar .calendar_wrap table thead tr th,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tbody tr th,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tbody tr th {
  text-align: center;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.03);
  position: relative;
  font-family: "RobotoCondensedLight";
  font-size: 16px;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table thead tr td a,
.blog .sidebar-blog .widget_calendar .calendar_wrap table thead tr td a,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tbody tr td a,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tbody tr td a,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table thead tr th a,
.blog .sidebar-blog .widget_calendar .calendar_wrap table thead tr th a,
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tbody tr th a,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tbody tr th a {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #29c5b9;
  color: #fff;
  text-decoration: none;
  font-family: "RobotoCondensedRegular";
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td a,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td a {
  font-family: "RobotoCondensedLight";
  font-size: 16px;
  color: inherit;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td#prev,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td#prev {
  text-align: right;
}
.blog-list .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td#next,
.blog .sidebar-blog .widget_calendar .calendar_wrap table tfoot tr td#next {
  text-align: left;
}
.blog-list .sidebar-blog .widget_tag_cloud .tagcloud a,
.blog .sidebar-blog .widget_tag_cloud .tagcloud a {
  font-family: "RobotoCondensedLight";
  display: inline-block;
  vertical-align: top;
  padding: 6px 14px;
  margin: 0 6px 12px 0;
  font-size: 14px !important;
  background: #f7f6f6;
  color: #808080;
  border-radius: 4px;
  text-decoration: none;
}
.blog-list .sidebar-blog .widget_tag_cloud .tagcloud a:hover,
.blog .sidebar-blog .widget_tag_cloud .tagcloud a:hover {
  background: #e4e3e3;
}
.blog-list .sidebar-blog .jetpack_subscription_widget,
.blog .sidebar-blog .jetpack_subscription_widget {
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 14px;
}
.blog-list .sidebar-blog .jetpack_subscription_widget input#subscribe-field-blog_subscription-2,
.blog .sidebar-blog .jetpack_subscription_widget input#subscribe-field-blog_subscription-2,
.blog-list .sidebar-blog .jetpack_subscription_widget input#subscribe-field-blog_subscription-3,
.blog .sidebar-blog .jetpack_subscription_widget input#subscribe-field-blog_subscription-3 {
  width: 100%;
  border: 0;
  background: none;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  font-family: "RobotoCondensedLight";
}
.blog-list .sidebar-blog .jetpack_subscription_widget #subscribe-submit input[name="jetpack_subscriptions_widget"],
.blog .sidebar-blog .jetpack_subscription_widget #subscribe-submit input[name="jetpack_subscriptions_widget"] {
  background: none;
  border: 1px solid #000;
  padding: 10px;
}
.blog-list .sidebar-blog .jetpack_subscription_widget #subscribe-submit input[name="jetpack_subscriptions_widget"]:hover,
.blog .sidebar-blog .jetpack_subscription_widget #subscribe-submit input[name="jetpack_subscriptions_widget"]:hover {
  background: #000;
  color: #fff;
}
.blog-list .read-marker,
.blog .read-marker {
  display: block;
  position: fixed;
  top: 150px;
  right: 0;
  width: 65px;
  height: 30px;
  padding-left: 5px;
  background: black;
  color: white;
  font-size: 12px;
  line-height: 30px;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
}
.blog-list .read-marker:before,
.blog .read-marker:before {
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
  width: 0;
  height: 0;
  content: "";
  background: transparent;
  border: 15px solid transparent;
  border-right-color: black;
}
.blog-list .last-read,
.blog .last-read {
  margin-top: -15px;
  margin-top: -52px;
  display: block;
  position: fixed;
  top: 150px;
  top: 50%;
  left: 0;
  width: 150px;
  padding-left: 5px;
  background: black;
  color: white;
  font-size: 12px;
  line-height: 17px;
  opacity: 0;
  -webkit-transition: opacity 1.3s ease;
  -moz-transition: opacity 1.3s ease;
  -o-transition: opacity 1.3s ease;
  -ms-transition: opacity 1.3s ease;
  padding: 10px;
  height: 104px;
  cursor: pointer;
}
.blog-list .last-read:after,
.blog .last-read:after {
  display: block;
  position: absolute;
  left: 149px;
  top: 0;
  width: 0;
  height: 0;
  content: "";
  background: transparent;
  border: 52px solid transparent;
  border-left-color: black;
}
@media screen and (max-width: 992px) {
  .blog-list .blog-list-article article footer .category li {
    border: 1px solid #31e0d2;
    color: #31e0d2;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .blog-list {
    display: flex;
    flex-direction: column;
  }
  .blog-list .blog-list-article {
    order: 2;
  }
  .blog-list .sidebar-blog .widget_calendar h1 {
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
  }
  .blog-list .sidebar-blog .widget_calendar h1.click-h1::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 40px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-list .sidebar-blog .widget_calendar h1.open::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 40px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .blog-list .sidebar-blog .widget_calendar .calendar_wrap {
    position: relative;
    display: none;
  }
  .blog-list .sidebar-blog .widget_categories h1 {
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
  }
  .blog-list .sidebar-blog .widget_categories h1.click-h1::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 0;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-list .sidebar-blog .widget_categories h1.open::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 0;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .blog-list .sidebar-blog .widget_categories ul {
    display: none;
    margin-top: 10px;
  }
  .blog {
    display: flex;
    flex-direction: column;
  }
  .blog .blog-list-article {
    order: 2;
  }
  .blog .sidebar-blog .widget_calendar .calendar_wrap {
    position: relative;
    display: none;
  }
  .blog .sidebar-blog .widget_categories h1 {
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
  }
  .blog .sidebar-blog .widget_categories h1.click-h1::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 0;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog .sidebar-blog .widget_categories h1.open::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 0;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .blog .sidebar-blog .widget_categories ul {
    display: none;
    margin-top: 10px;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: 0%;
  }
  #footer .container {
    padding-top: 25%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 480px) {
  .blog-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .blog-list .blog-list-article {
    order: 2;
  }
  .blog-list .blog-list-article article {
    margin-bottom: 2rem;
  }
  .blog-list .blog-list-article article h1 {
    font-size: 1.5rem;
  }
  .blog-list .sidebar-blog .widget_calendar h1 {
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
  }
  .blog-list .sidebar-blog .widget_calendar h1.click-h1::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -3px;
    right: 15px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-list .sidebar-blog .widget_calendar h1.open::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -3px;
    right: 15px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .blog-list .sidebar-blog .widget_calendar .calendar_wrap {
    position: relative;
    display: none;
  }
  .blog-list .sidebar-blog .widget_categories {
    padding: 1.5rem;
  }
  .blog-list .sidebar-blog .widget_categories h1 {
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
  }
  .blog-list .sidebar-blog .widget_categories h1.click-h1::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -9px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-list .sidebar-blog .widget_categories h1.open::after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -9px;
    background-image: url(/wp-content/themes/devdigital/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .blog {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .blog .blog-list-article {
    order: 2;
  }
  .blog .blog-list-article article {
    margin-bottom: 2rem;
  }
  .blog .blog-list-article article h1 {
    font-size: 1.5rem;
  }
  .comment-form .comment-form-comment textarea {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .blog-list .blog-list-article {
    order: 2;
  }
  .blog-list .sidebar-blog .widget_calendar .calendar_wrap {
    position: relative;
    display: block !important;
  }
  .blog-list .sidebar-blog .widget_categories ul {
    display: block !important;
  }
  .blog .blog-list-article {
    order: 2;
  }
  .blog .blog-list-article article footer .category li {
    border: 1px solid #31e0d2;
    color: #31e0d2;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .blog .sidebar-blog .widget_calendar .calendar_wrap {
    position: relative;
    display: block !important;
  }
  .blog .sidebar-blog .widget_categories ul {
    display: block !important;
  }
}
