.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact header {
  margin-bottom: 30px;
}
.contact header hgroup {
  text-align: center;
}
.contact header hgroup h2 {
  text-transform: uppercase;
  font-family: 'Room-Black';
  font-size: 2.3rem;
}
.contact header hgroup h3 {
  font-family: "RobotoCondensedLight";
  color: #b1b1b1;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.contact header hgroup h3:after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #86e7df;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  margin-bottom: -20px;
}
.contact > section {
  padding: 5rem 0;
}
.contact .reviews {
  position: relative;
}
.contact .reviews .wrap {
  display: flex;
}
.contact .reviews .wrap .photo-review {
  text-align: center;
  position: relative;
}
.contact .reviews .wrap .photo-review .image {
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .reviews .wrap .photo-review .post {
  font-family: "RobotoCondensedLight";
  font-size: 16px;
}
.contact .reviews .wrap .text-review {
  border-left: 2px solid #29c5b9;
  font-family: "RobotoCondensedLight";
  margin-left: 1rem;
  padding-left: 1rem;
}
.contact .reviews .all-reviews {
  margin-top: 3rem;
  text-align: center;
}
.contact .reviews .all-reviews a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid #000;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact .reviews .all-reviews a:hover {
  background-color: #000;
  color: #fff;
}
.contact .information {
  font-family: "RobotoCondensedLight";
}
.contact .information > div {
  margin-bottom: 2.5rem;
}
.contact .information > div > h2 {
  font-family: "RobotoCondensedRegular";
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contact .information > div > h2 svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.contact .information > div ul {
  padding: 0;
  list-style: none;
}
.contact .information > div ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.contact .information > div a {
  color: inherit;
  text-decoration: none;
}
.contact .information > div span {
  border-bottom: 1px dotted #444;
}
.contact .information .feedback .feedback-form {
  margin-left: 25px;
  font-family: "RobotoCondensedRegular";
}
.contact .information .feedback .feedback-form-wrap {
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  max-width: 500px;
  height: 0;
  overflow: hidden;
  opacity: 1;
}
.contact .information .feedback .feedback-form-wrap h2 {
  font-family: 'Room-Light';
}
.contact .information .feedback .feedback-form-wrap label {
  display: none;
}
.contact .information .feedback .feedback-form-wrap input[type="text"],
.contact .information .feedback .feedback-form-wrap input[type="email"],
.contact .information .feedback .feedback-form-wrap textarea {
  border: 0;
  background: #fff;
  border-bottom: 2px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.3em;
  margin: 20px 0;
  margin: 20px auto;
  outline: 0 !important;
  padding: 14px 14px 12px;
  width: 100%;
  -webkit-transition: 0.2 border-bottom;
  -ms-transition: 0.2 border-bottom;
  -moz-transition: 0.2 border-bottom;
  -o-transition: 0.2 border-bottom;
  transition: 0.2 border-bottom;
  color: #212121;
  font-family: "roboto condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  display: block;
}
.contact .information .feedback .feedback-form-wrap input[type="text"]:focus,
.contact .information .feedback .feedback-form-wrap input[type="email"]:focus,
.contact .information .feedback .feedback-form-wrap textarea:focus {
  background: #f8f8f8;
}
.contact .information .feedback .feedback-form-wrap input[type="submit"] {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
  background: none;
  border: 1px solid #000;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact .information .feedback .feedback-form-wrap input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}
.contact .information .feedback .feedback-form-wrap.active {
  height: auto;
  opacity: 1;
}
.contact .information .social ul {
  position: relative;
}
.contact .information .social ul li {
  width: 25px !important;
  display: inline-block;
  vertical-align: middle;
}
.contact .information .map {
  position: relative;
  height: 600px;
  margin: 0;
}
.contact .information .map .map_canvas {
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 556px;
  overflow: visible !important;
  margin: 0 auto;
  left: 0;
  padding: 10px;
}
.contact .information .map .map_canvas #map {
  width: 100%;
  height: 537px;
  background-color: #e5e3df;
}
.contact .information .map .map_canvas #map_controls {
  position: absolute;
  margin-right: 12px;
  margin-top: 12px;
}
.contact .information .map .map_canvas #map_controls a {
  color: inherit;
  color: #000;
  text-decoration: inherit;
  text-decoration: none;
  cursor: inherit;
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-block;
  -moz-box-orient: vertical;
  vertical-align: middle;
  padding: 5px;
  min-width: 90px;
  background-color: #fff;
  font-family: "roboto condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  filter: alpha(opacity=50);
  opacity: .5;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  margin-left: 6px;
}
.contact .information .map .map_canvas #map_controls a.active {
  -moz-transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  filter: alpha(opacity=90);
  opacity: .9;
  color: #29c5b9;
}
.contact .information .map .map_canvas #map_controls a:first-child {
  margin-left: 0;
}
.contact .information .map .map_canvas #map_navigation {
  width: 28px;
  filter: alpha(opacity=90);
  opacity: .9;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  margin-left: 12px;
  margin-top: 12px;
  position: absolute;
}
.contact .information .map .map_canvas #map_navigation .inner {
  background-color: #fff;
  padding: 6px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.contact .information .map .map_canvas #map_navigation .inner .plus,
.contact .information .map .map_canvas #map_navigation .inner .minus {
  height: 16px;
  width: 16px;
  display: block;
  background-image: url(/wp-content/themes/devdigital/assets/images/icons-16.png);
  background-repeat: no-repeat;
}
.contact .information .map .map_canvas #map_navigation .inner .plus {
  background-position: -48px 0;
  margin-bottom: 4px;
}
.contact .information .map .map_canvas #map_navigation .inner .minus {
  background-position: -48px -16px;
  margin-top: 4px;
}
.contact .information .map .map_canvas #map_navigation .inner .bar {
  margin: auto;
  background-color: #fafafa;
  width: 3px;
  height: 220px;
  position: relative;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
}
.contact .information .map .map_canvas #map_navigation .inner .handle {
  height: 40px;
  width: 40px;
  display: block;
  background-image: url(/wp-content/themes/devdigital/assets/images/icons-40.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 2px;
  cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
  margin-bottom: -20px;
  border: none;
  -moz-transition-property: bottom;
  -webkit-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -moz-transition-duration: .8s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -moz-transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
.contact .information .map .map_canvas:after {
  pointer-events: none;
  position: absolute;
  top: -25px;
  left: -5px;
  content: "";
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  right: -28px;
  bottom: 0px;
}
@media screen and (max-width: 1200px) {
  .contact .information .map .map_canvas:after {
    pointer-events: none;
    position: absolute;
    top: -22px;
    left: -5px;
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    right: 11px;
    bottom: -28px;
  }
}
@media screen and (max-width: 992px) {
  .contact > section {
    padding: 3rem 0;
  }
  .contact .information .map {
    height: 556px;
  }
  .contact .information .map .map_canvas:after {
    pointer-events: none;
    position: absolute;
    top: -22px;
    left: -5px;
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    right: 11px;
    bottom: -28px;
  }
}
@media screen and (max-width: 767px) {
  .contact > section {
    padding: 2rem 0;
  }
  .contact .reviews .wrap {
    display: flex;
    flex-direction: column;
  }
  .contact .reviews .wrap .text-review {
    border-left: none;
    margin-left: 0;
  }
  .contact .reviews .wrap .photo-review {
    margin-bottom: 20px;
  }
  .contact .reviews .wrap .photo-review .image {
    height: 334px;
  }
  .contact .information .map {
    height: 420px;
  }
  .contact .information .map .map_canvas {
    height: 420px;
  }
  .contact .information .map .map_canvas #map {
    height: 400px;
  }
  .contact .information .map .map_canvas:after {
    pointer-events: none;
    position: absolute;
    top: -17px;
    left: -3px;
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    right: 35px;
    bottom: -21px;
  }
}
@media screen and (max-width: 550px) {
  .contact .information .map {
    height: 420px;
  }
  .contact .information .map .map_canvas {
    height: 420px;
  }
  .contact .information .map .map_canvas #map {
    height: 400px;
  }
  .contact .information .map .map_canvas:after {
    pointer-events: none;
    position: absolute;
    top: -5px;
    left: 7px;
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    right: 10px;
    bottom: -9px;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: -20%;
  }
  #footer .container {
    padding-top: 25%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 380px) {
  .contact .information .map {
    height: 370px;
  }
  .contact .information .map .map_canvas {
    height: 340px;
  }
  .contact .information .map .map_canvas #map {
    height: 320px;
  }
  .contact .information .map .map_canvas:after {
    pointer-events: none;
    position: absolute;
    top: -2px;
    left: 7px;
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(/wp-content/themes/devdigital/assets/images/map_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    right: 10px;
    bottom: -6px;
  }
}
