.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-list {
  min-height: 60vh;
  position: relative;
}
.project-list .item-project {
  padding: 7px;
  width: 20%;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-list .item-project .image {
  width: 100%;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project-list .item-project .image .description {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  display: flex;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  flex-direction: column;
  justify-content: center;
}
.project-list .item-project .image .description h2 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #29c5b9;
  margin-bottom: 1rem;
  font-family: 'Room-Black';
}
.project-list .item-project .image .description h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "RobotoCondensedLight";
}
.project-list .item-project:nth-child(5n+1) {
  clear: both;
}
.project-list .item-project:hover {
  padding: 0;
}
.project-list .item-project:hover .description {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  transition: 1s ease-in;
  -webkit-transition: 1s ease-in;
}
@media screen and (max-width: 1100px) {
  .project-list .item-project {
    width: 25%;
  }
  .project-list .item-project:nth-child(5n+1) {
    clear: none;
  }
  .project-list .item-project:nth-child(4n+1) {
    clear: both;
  }
  .project-list .item-project:nth-child(3n+1) {
    clear: none;
  }
}
@media screen and (max-width: 768px) {
  .project-list .item-project {
    width: 31.9%;
  }
  .project-list .item-project:nth-child(5n+1) {
    clear: none;
  }
  .project-list .item-project:nth-child(4n+1) {
    clear: none;
  }
  .project-list .item-project:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: -10%;
  }
}
@media screen and (max-width: 480px) {
  .project-list .item-project {
    width: 100%;
  }
}
