.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container-inner-project {
  padding: 0;
}
.container-inner-project > div {
  padding: 5rem 0;
}
.container-inner-project .image-project {
  width: 70%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.container-inner-project .image-project img {
  width: 100%;
  height: auto;
}
.container-inner-project .main-information-project {
  width: 90%;
}
.container-inner-project .main-information-project .left-column {
  text-align: right;
}
.container-inner-project .main-information-project .left-column .date-project {
  display: block;
  font-family: 'Room-light';
}
.container-inner-project .main-information-project .left-column .name-client {
  font-family: 'Room-Black';
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 1rem 0;
  display: inline-block;
  padding-left: 20%;
}
.container-inner-project .main-information-project .left-column .share > div {
  margin-bottom: 10px;
}
.container-inner-project .main-information-project .right-column {
  border-left: 1px solid #29c5b9;
}
.container-inner-project .main-information-project .right-column h2 {
  font-family: 'Room-Black';
  font-size: 2.5rem;
}
.container-inner-project .main-information-project .right-column .link-site {
  color: #fff;
  background-color: #29c5b9;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Room-Black';
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #29c5b9;
  margin-right: 20px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container-inner-project .main-information-project .right-column .link-site:hover {
  background-color: inherit;
  color: #29c5b9;
}
.container-inner-project .main-information-project .right-column .tags {
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  font-size: 14px;
}
.container-inner-project .main-information-project .right-column .tags li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-family: 'Room-light';
}
.container-inner-project .main-information-project .right-column .tags li a {
  color: #8c8c8c;
  text-decoration: none;
}
.container-inner-project .main-information-project .right-column .tags li:last-child {
  margin-right: 0;
}
.container-inner-project .main-information-project .right-column .description {
  margin: 1rem 0;
  font-size: 16px;
  font-family: "RobotoCondensedLight";
}
.container-inner-project .information-project .wrap-block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.container-inner-project .information-project .wrap-block-info .info-block h2 {
  font-family: 'Room-Black';
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.container-inner-project .information-project .wrap-block-info .info-block .description {
  margin: 1rem 0;
  font-size: 16px;
  font-family: "RobotoCondensedLight";
}
.container-inner-project .information-project .wrap-block-info .info-block.right {
  text-align: right;
}
.container-inner-project .information-project .wrap-block-info .info-block.center {
  text-align: center;
}
.container-inner-project .information-project .wrap-block-info .image-block .image {
  background-size: contain;
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.container-inner-project .information-project .wrap-block-info .image-block .covered {
  width: 100%;
  height: 500px;
  background-size: cover;
}
.container-inner-project .information-project .wrap-block-info .image-block .covered .changeable {
  background-size: cover;
}
.container-inner-project .information-project .wrap-block-info:first-child {
  margin-top: 0;
}
.container-inner-project .information-project .wrap-block-info:last-child {
  margin-bottom: 0;
}
.container-inner-project .information-project .noflex {
  display: block;
}
.container-inner-project .layouts-adaptive-project .view {
  text-align: center;
  list-style: none;
  padding: 0;
}
.container-inner-project .layouts-adaptive-project .view li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 3px;
  border: 1px solid #31e0d2;
  color: #31e0d2;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Room-Black';
  cursor: pointer;
  margin-bottom: 15px;
}
.container-inner-project .layouts-adaptive-project .view li.active {
  color: #fff;
  background-color: #29c5b9;
}
.container-inner-project .layouts-adaptive-project .wrap {
  margin: 0;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page {
  list-style: none;
  padding: 0;
  text-align: right;
  margin: 1rem 0;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li {
  opacity: 0.5;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li span {
  display: inline-block;
  vertical-align: middle;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .name {
  font-family: 'Room-Light';
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .number {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Room-Black';
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li.active {
  opacity: 1;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li {
  opacity: 0.5;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li .name {
  visibility: visible;
  margin-right: 15px;
  opacity: 0.5;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active {
  opacity: 1;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active .name {
  opacity: 1;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover {
  opacity: 1;
}
.container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover .name {
  opacity: 1;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page {
  width: 72%;
  /* padding: 3% 2%; */
  margin: 0 auto;
  /* z-index: -1; */
  position: relative;
  height: 66%;
  overflow-y: scroll;
  margin-top: 3%;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page img {
  width: 100%;
  height: auto;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view *::selection {
  background: transparent;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device {
  display: none;
  text-align: center;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .notebook {
  width: 80%;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .ipad {
  width: calc(59.49999999999999vh);
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .phone {
  max-height: 70vh;
  width: calc(35vh);
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list,
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .dragscroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list img:not(:first-child),
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .dragscroll img:not(:first-child) {
  display: none;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .dragscroll#plane {
  padding-top: 2px;
  padding-left: 2px;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device .dragscroll#phone {
  border: 2px solid #dedede;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device.active {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view .device.active:before {
  content: '';
  width: 100px;
  height: 90px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url('/wp-content/themes/devdigital/assets/images/hand.svg');
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  animation-name: scroll-mockup;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view svg {
  max-height: 85vh;
  width: 100%;
}
.container-inner-project .layouts-adaptive-project .wrap .design-view svg path,
.container-inner-project .layouts-adaptive-project .wrap .design-view svg line {
  stroke-width: 0.5;
}
.container-inner-project .cd-horizontal-timeline {
  opacity: 0;
  background-color: #f9f9f9;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.container-inner-project .cd-horizontal-timeline header {
  margin-bottom: 3rem;
}
.container-inner-project .cd-horizontal-timeline header hgroup {
  text-align: center;
}
.container-inner-project .cd-horizontal-timeline header hgroup h2 {
  text-transform: uppercase;
  font-family: 'Room-Black';
  font-size: 2.3rem;
}
.container-inner-project .cd-horizontal-timeline header hgroup h3 {
  font-family: "RobotoCondensedLight";
  color: #b1b1b1;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.container-inner-project .cd-horizontal-timeline .timeline {
  position: relative;
  height: 150px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.container-inner-project .cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.container-inner-project .cd-horizontal-timeline .events-wrapper::after,
.container-inner-project .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.container-inner-project .cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.container-inner-project .cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.container-inner-project .cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 75px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.container-inner-project .cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 15px;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px 15px;
  color: #29c5b9;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* background-color: #29c5b9; */
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid #29c5b9;
}
.container-inner-project .cd-horizontal-timeline .events a.selected {
  color: #fff;
  background-color: #29c5b9;
}
.container-inner-project .cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -22px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.container-inner-project .cd-horizontal-timeline .events a:hover::after {
  background-color: #29c5b9;
  border-color: #29c5b9;
}
.container-inner-project .cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.container-inner-project .cd-horizontal-timeline .events a.selected::after {
  background-color: #29c5b9;
  border-color: #29c5b9;
}
.container-inner-project .cd-horizontal-timeline .events a.older-event::after {
  border-color: #29c5b9;
}
.container-inner-project .cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #29c5b9;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.container-inner-project .cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.container-inner-project .cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.container-inner-project .cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.container-inner-project .cd-horizontal-timeline .events-content li.enter-right,
.container-inner-project .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.container-inner-project .cd-horizontal-timeline .events-content li.enter-left,
.container-inner-project .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.container-inner-project .cd-horizontal-timeline .events-content li.leave-right,
.container-inner-project .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.container-inner-project .cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.container-inner-project .cd-horizontal-timeline .events-content h2 {
  font-size: 2.5rem;
  font-family: 'Room-Black';
  line-height: 1.2;
}
.container-inner-project .cd-horizontal-timeline .events-content .description {
  font-size: 1.2rem;
  color: #959595;
  font-family: "RobotoCondensedLight";
}
.container-inner-project .cd-horizontal-timeline .events-content .image img {
  width: 100%;
  height: 100%;
}
.container-inner-project .cd-horizontal-timeline ul,
.container-inner-project .cd-horizontal-timeline ol {
  list-style: none;
}
.container-inner-project .cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.container-inner-project .cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.container-inner-project .cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.container-inner-project .cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('/wp-content/themes/devdigital/assets/images/cd-arrow.svg') no-repeat 0 0;
}
.container-inner-project .cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.container-inner-project .cd-timeline-navigation a.next {
  right: 0;
}
.container-inner-project .cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.container-inner-project .cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.container-inner-project .no-touch .cd-timeline-navigation a:hover {
  border-color: #29c5b9;
}
.container-inner-project .no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}
.container-inner-project .tell-aboutus-project {
  text-align: center;
}
.container-inner-project .tell-aboutus-project h2 {
  text-transform: uppercase;
  font-family: 'Room-Black';
}
.container-inner-project .tell-aboutus-project p {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "RobotoCondensedLight";
  font-size: 16px;
}
.container-inner-project .tell-aboutus-project .social {
  margin-top: 35px;
}
.container-inner-project .progect-navigation .image {
  min-height: 150px;
}
/*
* АДАПТИВ
*/
@media screen and (max-width: 992px) {
  .container-inner-project .main-information-project {
    width: 90%;
    margin: 0 auto;
  }
  .container-inner-project .main-information-project .left-column {
    text-align: right;
  }
  .container-inner-project .main-information-project .left-column .date-project {
    display: block;
    font-family: 'Room-light';
  }
  .container-inner-project .main-information-project .left-column .name-client {
    font-family: 'Room-Black';
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin: 1rem 0;
    display: inline-block;
    padding-left: 20%;
  }
  .container-inner-project .main-information-project .right-column {
    border-left: 1px solid #29c5b9;
  }
  .container-inner-project .main-information-project .right-column h2 {
    font-family: 'Room-Black';
    font-size: 2.5rem;
  }
  .container-inner-project .main-information-project .right-column .link-site {
    color: #fff;
    background-color: #29c5b9;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Room-Black';
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #29c5b9;
    margin-right: 20px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .main-information-project .right-column .link-site:hover {
    background-color: inherit;
    color: #29c5b9;
  }
  .container-inner-project .main-information-project .right-column .tags {
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    font-size: 14px;
  }
  .container-inner-project .main-information-project .right-column .tags li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-family: 'Room-light';
  }
  .container-inner-project .main-information-project .right-column .tags li a {
    color: #8c8c8c;
    text-decoration: none;
  }
  .container-inner-project .main-information-project .right-column .tags li:last-child {
    margin-right: 0;
  }
  .container-inner-project .main-information-project .right-column .description {
    margin: 1rem 0;
    font-size: 16px;
    font-family: "RobotoCondensedLight";
  }
  .container-inner-project .tell-aboutus-project {
    padding: 0 15px;
  }
  .container-inner-project .information-project .wrap-block-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
  }
  .container-inner-project .information-project .wrap-block-info .info-block {
    width: 100%;
  }
  .container-inner-project .information-project .wrap-block-info .info-block h2 {
    font-family: 'Room-Black';
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .container-inner-project .information-project .wrap-block-info .info-block .description {
    margin: 1rem 0;
    font-size: 16px;
    font-family: "RobotoCondensedLight";
  }
  .container-inner-project .information-project .wrap-block-info .info-block.right {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.center {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.left {
    order: 1;
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block {
    width: 100%;
    order: 2;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .image {
    background-size: contain;
    width: 100%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered {
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered .changeable {
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info:first-child {
    margin-top: 0;
  }
  .container-inner-project .information-project .wrap-block-info:last-child {
    margin-bottom: 0;
  }
  .container-inner-project .information-project .noflex {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .view {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .container-inner-project .layouts-adaptive-project .view li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #31e0d2;
    color: #31e0d2;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Room-Black';
    cursor: pointer;
    margin-bottom: 15px;
  }
  .container-inner-project .layouts-adaptive-project .view li.active {
    color: #fff;
    background-color: #29c5b9;
  }
  .container-inner-project .layouts-adaptive-project .wrap {
    margin: 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup {
    width: 30%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 1rem 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li span {
    display: inline-block;
    vertical-align: middle;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .name {
    font-family: 'Room-Light';
    visibility: visible;
    opacity: 1;
    margin-right: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .number {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Room-Black';
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view {
    width: 70%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page {
    width: 72%;
    /* padding: 3% 2%; */
    margin: 0 auto;
    /* z-index: -1; */
    position: relative;
    height: 66%;
    overflow-y: scroll;
    margin-top: 3%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page img {
    width: 100%;
    height: auto;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device {
    display: none;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.plane {
    padding-top: 2px;
    padding-left: 2px;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.phone {
    border: 1px solid #000000;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device.active {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg {
    height: 100%;
    max-height: 80vh;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg path,
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg line {
    stroke-width: 0.5;
  }
}
@media screen and (max-width: 767px) {
  .container-inner-project .main-information-project {
    width: 90%;
  }
  .container-inner-project .main-information-project .left-column {
    text-align: left;
    margin-bottom: 20px;
  }
  .container-inner-project .main-information-project .left-column .date-project {
    display: block;
    font-family: 'Room-light';
  }
  .container-inner-project .main-information-project .left-column .name-client {
    font-family: 'Room-Black';
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin: 1rem 0;
    display: inline-block;
    padding-left: 0;
  }
  .container-inner-project .main-information-project .right-column {
    border-left: 1px solid #29c5b9;
  }
  .container-inner-project .main-information-project .right-column h2 {
    font-family: 'Room-Black';
    font-size: 2.5rem;
  }
  .container-inner-project .main-information-project .right-column .link-site {
    color: #fff;
    background-color: #29c5b9;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Room-Black';
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #29c5b9;
    margin-right: 20px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .main-information-project .right-column .link-site:hover {
    background-color: inherit;
    color: #29c5b9;
  }
  .container-inner-project .main-information-project .right-column .tags {
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    font-size: 14px;
  }
  .container-inner-project .main-information-project .right-column .tags li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-family: 'Room-light';
  }
  .container-inner-project .main-information-project .right-column .tags li a {
    color: #8c8c8c;
    text-decoration: none;
  }
  .container-inner-project .main-information-project .right-column .tags li:last-child {
    margin-right: 0;
  }
  .container-inner-project .main-information-project .right-column .description {
    margin: 1rem 0;
    font-size: 16px;
    font-family: "RobotoCondensedLight";
  }
  .container-inner-project .layouts-adaptive-project .view {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .container-inner-project .layouts-adaptive-project .view li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #31e0d2;
    color: #31e0d2;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Room-Black';
    cursor: pointer;
    margin-bottom: 15px;
  }
  .container-inner-project .layouts-adaptive-project .view li.active {
    color: #fff;
    background-color: #29c5b9;
  }
  .container-inner-project .layouts-adaptive-project .wrap {
    margin: 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 1rem 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li {
    opacity: 0.5;
    display: flex;
    align-items: center;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li span {
    display: inline-block;
    vertical-align: middle;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .name {
    font-family: 'Room-Light';
    visibility: visible;
    opacity: 1;
    margin-right: 0;
    cursor: pointer;
    order: 2;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .number {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Room-Black';
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li .name {
    visibility: visible;
    margin-right: 15px;
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc svg {
    width: 100%;
    height: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page {
    width: 72%;
    /* padding: 3% 2%; */
    margin: 0 auto;
    /* z-index: -1; */
    position: relative;
    height: 66%;
    overflow-y: scroll;
    margin-top: 3%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page img {
    width: 100%;
    height: auto;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device {
    display: none;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.plane {
    padding-top: 2px;
    padding-left: 2px;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.phone {
    border: 1px solid #000000;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device.active {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg path,
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg line {
    stroke-width: 0.5;
  }
  .container-inner-project .client-project {
    position: relative;
  }
  .container-inner-project .client-project h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Room-Black';
  }
  .container-inner-project .client-project .wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-inner-project .client-project .wrap .photo-review {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
  }
  .container-inner-project .client-project .wrap .photo-review .image {
    margin: 0 auto;
    width: 190px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
    display: inline-block;
  }
  .container-inner-project .client-project .wrap .line-wrap {
    text-align: center;
    padding: 0;
    display: none;
  }
  .container-inner-project .client-project .wrap .review-info .name {
    font-family: 'Room';
    font-size: 1.7rem;
    line-height: 1.5rem;
  }
  .container-inner-project .client-project .wrap .review-info .text {
    font-family: "RobotoCondensedLight";
    color: #848e92;
  }
  .container-inner-project .client-project .wrap .review-info .text a {
    color: #29c5b9;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: -10%;
  }
}
@media screen and (max-width: 480px) {
  .container-inner-project > div {
    padding: 3rem 0;
  }
  .container-inner-project .tell-aboutus-project {
    padding: 0 15px;
  }
  .container-inner-project .information-project .wrap-block-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
  }
  .container-inner-project .information-project .wrap-block-info .info-block {
    width: 100%;
  }
  .container-inner-project .information-project .wrap-block-info .info-block h2 {
    font-family: 'Room-Black';
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .container-inner-project .information-project .wrap-block-info .info-block .description {
    margin: 1rem 0;
    font-size: 16px;
    font-family: "RobotoCondensedLight";
  }
  .container-inner-project .information-project .wrap-block-info .info-block.right {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.center {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.left {
    order: 1;
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block {
    width: 100%;
    order: 2;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .image {
    background-size: contain;
    width: 100%;
    min-height: 240px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered {
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered .changeable {
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info:first-child {
    margin-top: 0;
  }
  .container-inner-project .information-project .wrap-block-info:last-child {
    margin-bottom: 0;
  }
  .container-inner-project .information-project .noflex {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .view {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .container-inner-project .layouts-adaptive-project .view li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #31e0d2;
    color: #31e0d2;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Room-Black';
    cursor: pointer;
    margin-bottom: 15px;
  }
  .container-inner-project .layouts-adaptive-project .view li.active {
    color: #fff;
    background-color: #29c5b9;
  }
  .container-inner-project .layouts-adaptive-project .wrap {
    margin: 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 1rem 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li span {
    display: inline-block;
    vertical-align: middle;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .name {
    font-family: 'Room-Light';
    visibility: visible;
    opacity: 1;
    margin-right: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .number {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Room-Black';
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li .name {
    visibility: visible;
    margin-right: 15px;
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc svg {
    width: 100%;
    height: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page {
    width: 72%;
    /* padding: 3% 2%; */
    margin: 0 auto;
    /* z-index: -1; */
    position: relative;
    height: 66%;
    overflow-y: scroll;
    margin-top: 3%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page img {
    width: 100%;
    height: auto;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device {
    display: none;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.plane {
    padding-top: 2px;
    padding-left: 2px;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.phone {
    border: 1px solid #000000;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device.active {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg path,
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg line {
    stroke-width: 0.5;
  }
  .container-inner-project .tecnology-project {
    background-color: #f9f9f9;
  }
  .container-inner-project .tecnology-project header {
    margin-bottom: 3rem;
  }
  .container-inner-project .tecnology-project header hgroup {
    text-align: center;
  }
  .container-inner-project .tecnology-project header hgroup h2 {
    text-transform: uppercase;
    font-family: 'Room-Black';
    font-size: 2.3rem;
  }
  .container-inner-project .tecnology-project header hgroup h3 {
    font-family: "RobotoCondensedLight";
    color: #b1b1b1;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }
  .container-inner-project .tecnology-project .steps {
    padding: 0;
    list-style: none;
    display: flex;
  }
  .container-inner-project .tecnology-project .steps li {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    text-align: right;
    position: relative;
    cursor: pointer;
  }
  .container-inner-project .tecnology-project .steps li span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #29c5b9;
    color: #29c5b9;
    border-radius: 100px;
    font-family: 'Room-Black';
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .tecnology-project .steps li span:after {
    content: '';
    position: absolute;
    /* width: 100%; */
    height: 1px;
    background-color: #dbdce0;
    left: 10px;
    right: 50px;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .tecnology-project .steps li.first {
    width: 15%;
  }
  .container-inner-project .tecnology-project .steps li.first span:after {
    left: 15px;
  }
  .container-inner-project .tecnology-project .steps li.first span:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    border-radius: 20px;
    background-color: #dbdce0;
    top: 50%;
    margin-top: -3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .tecnology-project .steps li.last {
    width: 38%;
  }
  .container-inner-project .tecnology-project .steps li.last span {
    margin-right: 35%;
  }
  .container-inner-project .tecnology-project .steps li.last span:after {
    right: 67%;
  }
  .container-inner-project .tecnology-project .steps li.last span:before {
    content: '';
    position: absolute;
    /* width: 100%; */
    height: 1px;
    background-color: #dbdce0;
    left: 74%;
    right: 10px;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .tecnology-project .steps li.last:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    background-color: #dbdce0;
    top: 50%;
    margin-top: -3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .tecnology-project .steps li.active span,
  .container-inner-project .tecnology-project .steps li:hover span {
    background-color: #29c5b9;
    color: #fff;
  }
  .container-inner-project .tecnology-project .steps li.active span:before,
  .container-inner-project .tecnology-project .steps li:hover span:before,
  .container-inner-project .tecnology-project .steps li.active span:after,
  .container-inner-project .tecnology-project .steps li:hover span:after {
    background-color: #29c5b9;
  }
  .container-inner-project .tecnology-project .steps li.last.active::after,
  .container-inner-project .tecnology-project .steps li:last-child:hover::after {
    background-color: #29c5b9;
  }
  .container-inner-project .tecnology-project .info-steps {
    padding: 0;
    list-style: none;
    margin: 2rem 0;
  }
  .container-inner-project .tecnology-project .info-steps li {
    width: 100%;
    display: none;
  }
  .container-inner-project .tecnology-project .info-steps li h2 {
    text-align: center;
    font-family: 'Room-Black';
    font-size: 2rem;
  }
  .container-inner-project .tecnology-project .info-steps li .description {
    font-family: "RobotoCondensedLight";
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: #848e92;
  }
  .container-inner-project .tecnology-project .info-steps li .image {
    text-align: center;
  }
  .container-inner-project .tecnology-project .info-steps li .image img {
    width: 90%;
    height: auto;
  }
  .container-inner-project .tecnology-project .info-steps li.active {
    display: block;
  }
}
@media screen and (max-width: 380px) {
  .container-inner-project .tell-aboutus-project {
    padding: 0 15px;
  }
  .container-inner-project .information-project .wrap-block-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
  }
  .container-inner-project .information-project .wrap-block-info .info-block {
    width: 100%;
  }
  .container-inner-project .information-project .wrap-block-info .info-block h2 {
    font-family: 'Room-Black';
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .container-inner-project .information-project .wrap-block-info .info-block .description {
    margin: 1rem 0;
    font-size: 16px;
    font-family: "RobotoCondensedLight";
  }
  .container-inner-project .information-project .wrap-block-info .info-block.right {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.center {
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .info-block.left {
    order: 1;
    text-align: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block {
    width: 100%;
    order: 2;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .image {
    background-size: contain;
    width: 100%;
    min-height: 170px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered {
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info .image-block .covered .changeable {
    background-size: cover;
  }
  .container-inner-project .information-project .wrap-block-info:first-child {
    margin-top: 0;
  }
  .container-inner-project .information-project .wrap-block-info:last-child {
    margin-bottom: 0;
  }
  .container-inner-project .information-project .noflex {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .view {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .container-inner-project .layouts-adaptive-project .view li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #31e0d2;
    color: #31e0d2;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Room-Black';
    cursor: pointer;
    margin-bottom: 15px;
  }
  .container-inner-project .layouts-adaptive-project .view li.active {
    color: #fff;
    background-color: #29c5b9;
  }
  .container-inner-project .layouts-adaptive-project .wrap {
    margin: 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 1rem 0;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li span {
    display: inline-block;
    vertical-align: middle;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .name {
    font-family: 'Room-Light';
    visibility: visible;
    opacity: 1;
    margin-right: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li .number {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Room-Black';
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li {
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li .name {
    visibility: visible;
    margin-right: 15px;
    opacity: 0.5;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li.active .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .info-mockup .page:hover li:hover .name {
    opacity: 1;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view {
    width: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc svg {
    width: 100%;
    height: 100%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page {
    width: 72%;
    /* padding: 3% 2%; */
    margin: 0 auto;
    /* z-index: -1; */
    position: relative;
    height: 66%;
    overflow-y: scroll;
    margin-top: 3%;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .mockup-pc .page img {
    width: 100%;
    height: auto;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device {
    display: none;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.plane {
    padding-top: 2px;
    padding-left: 2px;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device .layouts-list.phone {
    border: 1px solid #000000;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view .device.active {
    display: block;
  }
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg path,
  .container-inner-project .layouts-adaptive-project .wrap .design-view svg line {
    stroke-width: 0.5;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
}
@keyframes scroll-mockup {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100px);
  }
  66% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
