.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: "RobotoCondensedRegular";
  font-size: 18px;
}
body#loader-page {
  overflow: hidden;
}
.hidden {
  display: none;
  visibility: hidden;
}
a:focus,
input:focus,
textarea:focus {
  outline: none;
}
*::selection {
  background: #29c5b9;
  color: #fff;
}
*::-moz-selection {
  background: #29c5b9;
  color: #fff;
}
.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  /* line loader */
}
.loader .span,
.loader .span_large {
  float: left;
  width: 17px;
  height: 100px;
}
.loader .span:last-child {
  margin-right: 0;
}
.loader .span2 {
  margin-top: -20px;
}
.loader ._bckgrd-black {
  background-color: #000000;
}
.loader .line-rotate {
  transform: rotate(45deg);
  margin: 70px auto;
  position: relative;
  left: 10px;
}
.loader .line-loader-bar {
  width: 1px;
  height: 1px;
  background-color: #000000;
  animation: line-loader-anim 1.5s ease-in-out infinite;
}
@keyframes line-loader-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1, 150);
  }
  80% {
    transform: scale(1);
  }
}
.marginbottom {
  margin-bottom: 15%;
}
.simple-title {
  margin: 3rem 0;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
* Шапка сайта
*/
#header {
  position: absolute;
  z-index: 1000;
  top: 5%;
  width: 100%;
}
#header .navbar {
  position: fixed;
  left: 1%;
  border-radius: 0;
}
#header .navbar .background-menu {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -0.5rem;
  margin-left: -1rem;
  background-color: #fff;
  left: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
}
#header .navbar > .navbar-brand {
  padding: 0;
  height: 50px;
  overflow: hidden;
  margin: 0;
  margin-left: -20px;
}
#header .navbar > .navbar-brand .logo-icon {
  display: inline-block;
  max-width: 100px;
  height: 100px;
  width: 50vw;
  margin-top: -25px;
  overflow: hidden;
}
#header .navbar > .navbar-brand #spinner-form {
  display: none;
}
#header .navbar > .navbar-brand .spinner-spin {
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
  margin: 0;
  padding-left: 17px;
  margin-left: -25px;
}
#header .navbar > .navbar-brand .spinner-spin * {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
}
#header .navbar > .navbar-brand .spinner-spin {
  cursor: pointer;
}
#header .navbar > .navbar-brand .spinner-spin > .spinner {
  height: 2px;
  width: 30px;
  background-color: #000;
  clear: both;
}
#header .navbar > .navbar-brand .spinner-spin > .spinner.diagonal.part-1 {
  position: relative;
  float: left;
  margin-top: 20px;
}
#header .navbar > .navbar-brand .spinner-spin > .spinner.horizontal {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-left: -7px;
}
#header .navbar > .navbar-brand .spinner-spin > .spinner.diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-left: -14px;
}
#header .navbar > .navbar-brand #spinner-form:checked ~ .spinner-spin > .horizontal {
  opacity: 0;
}
#header .navbar > .navbar-brand #spinner-form:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  margin-top: 25px;
}
#header .navbar > .navbar-brand #spinner-form:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  margin-top: -7px;
  margin-left: 0 !important;
}
#header .navbar .navbar-nav {
  display: none;
}
#header .navbar .navbar-nav li {
  margin-left: 0;
}
#header .navbar .navbar-nav li a {
  display: block;
  padding-top: .9rem;
  padding-bottom: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin: 0 1.5vw;
  color: #4c4c4c;
  width: 90px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header .navbar .navbar-nav li:last-child {
  margin-right: 0;
}
#header .navbar .navbar-nav li.active a,
#header .navbar .navbar-nav li:hover a {
  color: #29c5b9;
}
#header .navbar .qtranxs_widget {
  padding: .5rem 0;
  position: absolute;
  right: 1%;
  top: 20%;
  display: none;
}
#header .navbar.visible {
  z-index: 1500;
  right: 1%;
}
#header .navbar.visible .navbar-nav,
#header .navbar.visible .qtranxs_widget {
  display: block;
}
#header .qtranxs_widget {
  float: right;
  /* margin-right: 2%; */
  position: relative;
  text-align: right;
  padding: 1.3rem .6rem;
}
#header .qtranxs_widget .language-chooser {
  padding: 0;
  display: inline-block;
  position: relative;
}
#header .qtranxs_widget .language-chooser li {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header .qtranxs_widget .language-chooser li a {
  color: #000;
  text-decoration: none;
}
#header .qtranxs_widget .language-chooser li.active {
  opacity: 1;
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
}
#header .qtranxs_widget .language-chooser:before {
  content: '';
  position: absolute;
  top: 0;
  width: 15px;
  height: 1px;
  background-color: #000;
  transform: rotate(-45deg);
  left: 0;
  margin-left: -10px;
}
#header .qtranxs_widget.open .language-chooser li {
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
  opacity: 0.5;
}
#header .qtranxs_widget.open .language-chooser li:hover {
  opacity: 1;
}
#header:hover .navbar {
  right: 1%;
}
/*
* Содержимое страницы
*/
.inner-page-title {
  width: 100%;
  height: 100vh;
}
.inner-page-title .page-title-inner .title-wrap {
  margin-left: -134px;
}
.inner-page-title .page-title-inner .title-wrap h1 {
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-size: 25px;
  padding-left: 162px;
}
.inner-page-title .page-title-inner .title-wrap .shape {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-right: 150px solid transparent;
  float: left;
  -webkit-shape-outside: polygon(100% 0, 0 0, 0 100%);
  shape-outside: polygon(100% 0, 0 0, 0 100%);
}
.inner-page-title .page-title-inner .title-wrap h2 {
  font-family: 'Room';
  font-size: 11px;
  margin: 0 auto;
  line-height: 9px;
}
.inner-page-title .hover_group {
  cursor: pointer;
}
.inner-page-title .hover_group rect {
  fill: #29c5b9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.inner-page-title .hover_group text {
  fill: #ffffff;
}
.inner-page-title .hover_group:hover rect {
  fill: #23afa4;
}
.inner-page-title .text_field .title {
  font-family: 'Room-Black';
  font-size: 25px;
}
.inner-page-title .text_field .description {
  font-family: 'Room';
}
.inner-page-title .project-categories {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}
.inner-page-title .project-categories li {
  display: inline-block;
  vertical-align: top;
  font-size: 8px;
  cursor: pointer;
}
.inner-page-title .project-categories li:after {
  content: '/';
  display: inline-block;
  margin: 0 3px;
  color: #29c5b9;
}
.inner-page-title .project-categories li:hover {
  color: #29c5b9;
}
#mobileTitle {
  display: none;
  visibility: hidden;
  padding: 15vh 0;
}
#mobileTitle .page-title-inner-mobile {
  text-align: center;
}
#mobileTitle .page-title-inner-mobile h1 {
  font-size: 2.8rem;
}
#mobileTitle .page-title-inner-mobile .wrap-inner .breadcrumbs {
  font-size: 16px;
}
/*
* ПОдвал сайта
*/
#footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: -7%;
}
#footer > svg {
  position: absolute;
  display: block;
  z-index: -1;
}
#footer > svg path {
  fill: #fff;
}
#footer .container {
  padding-top: 7%;
  padding-bottom: 0;
  text-align: center;
}
#footer .container .social-link {
  padding: 0;
  list-style: none;
}
#footer .container .social-link a {
  text-decoration: none;
}
#footer .container .social-link li {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 5px;
}
#footer .container .social-link li svg {
  fill: #909090;
}
#footer .container .telephone-footer {
  padding: 0;
  list-style: none;
}
#footer .container .telephone-footer li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
#footer .container .telephone-footer li a {
  color: inherit;
  text-decoration: none;
}
#footer .container .sitemap a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}
#footer .container .copyright {
  font-size: 13px;
}
/*
*
*/
.callbackForm .form {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 65%;
  height: 100%;
  z-index: 10;
  transform: translateX(80%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.callbackForm .form .form-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -33%;
  max-width: 270px;
  width: 65%;
  text-align: center;
  padding-right: 5px;
}
.callbackForm .form .form-wrap h2 {
  font-family: 'Room';
  font-size: 1.45rem;
  margin-bottom: 10px;
}
.callbackForm .form .form-wrap .wpcf7 input,
.callbackForm .form .form-wrap .wpcf7 textarea {
  border: 0;
  background: none;
  color: #909090;
  border-bottom: 1px solid #29c5b9;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-family: "RobotoCondensedLight";
}
.callbackForm .form .form-wrap .wpcf7 textarea {
  max-height: 50px;
}
.callbackForm .form .form-wrap .wpcf7 ::-webkit-input-placeholder {
  color: #909090;
}
.callbackForm .form .form-wrap .wpcf7 :-moz-placeholder {
  /* Firefox 18- */
  color: #909090;
}
.callbackForm .form .form-wrap .wpcf7 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #909090;
}
.callbackForm .form .form-wrap .wpcf7 :-ms-input-placeholder {
  color: #909090;
}
.callbackForm .form .form-wrap .wpcf7 input[type="submit"] {
  color: #fff;
  background-color: #29c5b9;
  border: 1px solid #29c5b9;
  text-transform: uppercase;
  margin-bottom: 0;
  display: inline-block;
  padding: 10px;
  width: auto;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.callbackForm .form .form-wrap .wpcf7 input[type="submit"]:hover {
  background: none;
  color: #29c5b9;
}
.callbackForm .form .form-wrap .wpcf7 p {
  margin: 0;
  padding: 0;
}
.callbackForm .form .contact-form-image {
  cursor: pointer;
  -moz-transform-origin: 15px 0;
  -ms-transform-origin: 15px 0;
  -o-transform-origin: 15px 0;
  -webkit-transform-origin: 15px 0;
  transform-origin: 15px 0;
}
.callbackForm .form .contact-form-image.mail {
  animation-name: icon-coup-mail;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.callbackForm .form.open {
  transform: translateX(0);
}
.callbackForm #ContactFormSVGMobile {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 100px 0;
  border-color: transparent #ffffff transparent transparent;
  left: 0;
  -webkit-filter: drop-shadow(-5px 4px 2px rgba(0, 0, 0, 0.22));
  filter: drop-shadow(-5px 4px 2px rgba(0, 0, 0, 0.22));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-5, OffY=4, Color='#868686')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-5, OffY=4, Color='#868686')";
  z-index: 10;
  position: relative;
}
.callbackForm #ContactFormSVGMobile:after {
  content: '';
  width: 48px;
  height: 50px;
  background: url(/wp-content/themes/devdigital/assets/images/maill.svg) no-repeat center;
  position: absolute;
  top: -30px;
  right: -90px;
}
.breadcrumbs {
  font-size: 7px;
  margin: 5px 0;
}
.breadcrumbs a {
  color: #000;
  text-decoration: none;
}
.blue-button {
  display: inline-block;
  background-color: #29c5b9;
  border: 1px solid #29c5b9;
  font-family: "RobotoCondensedLight";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blue-button:hover,
.blue-button:focus {
  background-color: #fff;
  color: #29c5b9;
  text-decoration: none;
}
.navigation a {
  color: #000;
  text-decoration: none;
}
.navigation .nav-links .nav-previous,
.navigation .nav-links .nav-next {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.navigation .nav-links .nav-next {
  text-align: right;
}
.review {
  position: relative;
}
.review h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: 'Room-Black';
}
.review .wrap {
  display: flex;
}
.review .wrap .photo-review {
  text-align: right;
  position: relative;
}
.review .wrap .photo-review .image {
  width: 190px;
  height: 190px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  display: inline-block;
}
.review .wrap .line-wrap {
  text-align: center;
  padding: 0;
}
.review .wrap .review-info .name {
  font-family: 'Room';
  font-size: 1.7rem;
  line-height: 1.5rem;
}
.review .wrap .review-info .text {
  font-family: "RobotoCondensedLight";
  color: #848e92;
}
.review .wrap .review-info .text a {
  color: #000;
}
#mobilesmart_switcher {
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-top: -1px;
  position: relative;
}
#mobilesmart_switcher a {
  color: #29c5b9;
  text-decoration: none;
  font-size: 15px;
}
.search-form .search-field {
  padding: 9px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-right: -5px;
  font-family: "RobotoCondensedLight";
}
.wp-pagenavi span,
.wp-pagenavi a {
  display: inline-block;
  padding: 2px 8px;
  background-color: #29c5b9;
  color: #fff;
  margin-right: 5px;
}
.wp-pagenavi a {
  color: #29c5b9;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wp-pagenavi a:hover {
  background-color: #29c5b9;
  color: #fff;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}
.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0;
}
.resp-sharing-button__link:hover {
  color: #fff;
  text-decoration: none;
}
.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.6em;
  font-family: "RobotoCondensedLight";
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  vertical-align: top;
  /* font-size: 18px; */
  float: left;
}
.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
}
.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}
.resp-sharing-button--pinterest {
  background-color: #bd081c;
}
.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
}
.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}
.resp-sharing-button--tumblr {
  background-color: #35465c;
}
.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}
.resp-sharing-button--reddit {
  background-color: #5f99cf;
}
.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}
.resp-sharing-button--google {
  background-color: #dd4b39;
}
.resp-sharing-button--google:hover {
  background-color: #c23321;
}
.resp-sharing-button--linkedin {
  background-color: #0077b5;
}
.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}
.resp-sharing-button--email {
  background-color: #777777;
}
.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}
.resp-sharing-button--xing {
  background-color: #1a7576;
}
.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}
.resp-sharing-button--whatsapp {
  background-color: #25d366;
}
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}
.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}
.resp-sharing-button--vk {
  background-color: #507299;
}
.resp-sharing-button--vk:hover {
  background-color: #43648c;
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}
.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}
.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}
.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}
.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}
.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}
.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}
.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}
.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
.resp-sharing-button--vk {
  background-color: #507299;
  border-color: #507299;
}
.resp-sharing-button--vk:hover .resp-sharing-button--vk:active {
  background-color: #43648c;
  border-color: #43648c;
}
.resp-sharing-button--telegram {
  background-color: #54A9EB;
}
.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;
}
/*
* MEDIA
*/
@media screen and (max-width: 1250px) {
  #header #menu-main li a {
    margin: 0 7vw;
  }
}
@media screen and (max-width: 1135px) {
  #header #menu-main li a {
    margin: 0 5vw;
  }
}
@media screen and (max-width: 992px) {
  .review .wrap {
    display: block;
  }
  .review .wrap .photo-review,
  .review .wrap .line-wrap {
    display: none;
  }
  .review .wrap .review-info {
    width: 100%;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 822px) {
  #header #menu-main li a {
    margin: 0 3vw;
  }
}
@media screen and (max-width: 650px) {
  #header #menu-main li a {
    margin: 0 1.5vw;
  }
}
@media screen and (max-width: 580px) {
  #header .navbar.visible {
    height: 90%;
  }
  #header .navbar.visible #menu-main {
    height: 65vh;
    margin-top: 60px;
    overflow-y: scroll;
  }
  #header .navbar.visible #menu-main li {
    display: block;
    float: none;
  }
  #header .navbar.visible #menu-main li a {
    margin: 0;
    width: 100%;
  }
  #header .navbar.visible .qtranxs_widget {
    top: 10px;
    right: 10px;
  }
  .navigation .nav-links .nav-previous,
  .navigation .nav-links .nav-next {
    display: block !important;
    width: 100% !important;
    vertical-align: top !important;
  }
  .navigation .nav-links .nav-next {
    text-align: left !important;
  }
}
@media screen and (max-width: 580px) and (min-height: 525px) {
  #header .navbar.visible {
    height: 480px;
  }
  #header .navbar.visible #menu-main {
    height: 400px;
    overflow-y: auto;
  }
}
@media screen and (max-height: 700px) and (min-height: 600px) {
  .callbackForm .form .form-wrap {
    margin-top: -42%;
  }
}
@media screen and (max-width: 767px), (max-height: 600px) {
  article.abrakadabra .entry-content p {
    padding: 0 15px;
  }
  .callbackForm .form #ContactFormSVG {
    display: none;
  }
  .callbackForm .form .form-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    text-align: center;
    background-color: #fff;
    padding: 30vh 15px 0 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    bottom: 0;
    max-width: 500px;
    margin: 0;
  }
  .callbackForm .form .form-wrap .mobile-label {
    position: absolute;
    width: 100px;
    height: 200px;
    left: -99px;
    top: 50%;
    margin-top: -100px;
    z-index: 1;
    display: block;
    visibility: visible;
  }
}
@media screen and (max-height: 500px) {
  .callbackForm .form .form-wrap {
    padding-top: 5vh;
  }
  .callbackForm .form .form-wrap .wpcf7 {
    height: 72%;
    overflow-y: auto;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: -15%;
  }
  #footer .container {
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .callbackForm .form {
    width: 100%;
    max-width: 435px;
  }
  .callbackForm .form .form-wrap h2 {
    font-size: 1.2rem;
  }
  .inner-page-title {
    height: 100% !important;
  }
  #mainTitle {
    display: none;
    visibility: hidden;
  }
  #mobileTitle {
    display: block;
    visibility: visible;
  }
}
@media screen and (max-width: 330px) {
  #footer {
    margin-top: -40%;
  }
  #footer .container {
    padding-top: 50%;
    padding-bottom: 10%;
  }
}
/*
* АНИМАЦИЯ
*/
@keyframes loader {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(60%, 0%) rotate(90deg);
  }
  50% {
    transform: translate(60%, 60%) rotate(180deg);
  }
  75% {
    transform: translate(0%, 60%) rotate(270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
@keyframes icon-coup-mail {
  0% {
    transform: rotateY(0deg) translateX(0px);
  }
  50% {
    transform: rotateY(-180deg) translateX(0px);
  }
  100% {
    transform: rotateY(0deg) translateX(0px);
  }
}
