.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.we section {
  margin-bottom: 10vh;
}
.we section header {
  margin-bottom: 30px;
}
.we section header hgroup {
  text-align: center;
}
.we section header hgroup h2 {
  text-transform: uppercase;
  font-family: 'Room-Black';
  font-size: 2.3rem;
}
.we section header hgroup h3 {
  font-family: "RobotoCondensedLight";
  color: #b1b1b1;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.we section header hgroup h3:after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #86e7df;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  margin-bottom: -20px;
}
.aboutus aside {
  font-family: "RobotoCondensedLight";
  font-size: 16px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
.wordcard .words .words-list {
  text-align: center;
  margin-bottom: 15px;
  visibility: hidden;
}
.wordcard .words .words-list a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.wordcard .words .words-list a span {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wordcard .words .words-list a:after {
  content: '/';
  color: #86e7df;
  padding-left: 10px;
  padding-right: 5px;
}
.wordcard .words .words-list a:last-child:after {
  content: '';
  padding: 0;
}
.wordcard .words .words-list a:hover span {
  color: #86e7df;
}
.wordcard .words .words-wrap {
  width: 630px;
  margin: 0 auto;
}
.wordcard .words .words-wrap .element {
  display: inline-block;
  vertical-align: top;
  font-family: "RobotoCondensedLight";
  width: 25px;
  text-align: center;
  float: left;
  font-size: 14px;
  font-weight: 100;
  color: #000;
  text-transform: uppercase;
  transform: rotateX(0deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wordcard .words .words-wrap .element span.active-word {
  color: #31e0d2;
  font-weight: bold;
}
.wordcard .words .words-wrap .gray-color {
  color: #e4e4e4;
}
.wordcard .words .words-wrap .transform {
  transform: rotateX(180deg);
}
.itsme .itsme-list {
  text-align: center;
}
.itsme .itsme-list .item-itsme {
  margin-bottom: 30px;
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-right: -5px;
}
.itsme .itsme-list .item-itsme .small-image {
  background-size: cover;
  background-position: center;
  width: 280px;
  height: 250px;
  margin: 0 auto;
}
.itsme .itsme-list .item-itsme .small-image:hover {
  background-position: -2312px 0px !important;
}
.chronicle .chronicle-list {
  padding: 30px 0;
}
.chronicle .chronicle-list .item {
  text-align: center;
  margin-bottom: 3vh;
}
.chronicle .chronicle-list .item .value {
  font-family: 'Room';
  font-size: 2rem;
}
.chronicle .chronicle-list .item .description {
  font-size: 14px;
  color: #848484;
  font-family: "RobotoCondensedLight";
}
.chronicle .chronicle-list .item:nth-child(3n+1) {
  clear: both;
}
.certificates .certificates-list .item {
  margin-bottom: 30px;
}
.certificates .certificates-list .item .popup-gallery {
  text-decoration: none;
}
.certificates .certificates-list .item .popup-gallery .item__image {
  width: 100%;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.certificates .certificates-list .item .popup-gallery h4 {
  text-align: center;
  margin: 10px 0;
  font-family: "RobotoCondensedLight";
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: .85rem;
}
/*
* POPUP окно
*/
#animatedModal {
  cursor: url('/wp-content/themes/devdigital/assets/images/plus.cur'), auto;
  /*
	* КНОПКА ЗАКРЫТИЯ ОКНА
	*/
}
#animatedModal #closebt-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
#animatedModal #closebt-container .closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
#animatedModal #closebt-container .closebt:hover {
  transform: rotate(90deg);
}
#animatedModal .container-fluid {
  border: 0;
  background: transparent;
}
#animatedModal .container-fluid .itsme-more {
  padding-top: 5vh;
}
#animatedModal .container-fluid .itsme-more .item__image {
  text-align: center;
}
#animatedModal .container-fluid .itsme-more .item__image img {
  width: auto;
  height: 85.3vh;
}
#animatedModal .container-fluid .itsme-more .item__description {
  color: #fff;
  font-family: "RobotoCondensedLight";
}
#animatedModal .container-fluid .itsme-more .item__description .full-name {
  font-family: 'Room-Black';
  text-transform: uppercase;
  font-size: 3.5rem;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
}
#animatedModal .container-fluid .itsme-more .item__description .full-name:before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
#animatedModal .container-fluid .itsme-more .item__description .post {
  font-size: 2rem;
  text-transform: uppercase;
}
#animatedModal .container-fluid .itsme-more .item__description .email-social-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
#animatedModal .container-fluid .itsme-more .item__description .email-social-list li {
  display: inline-block;
  margin: 0 10px;
}
#animatedModal .container-fluid .itsme-more .item__description .email-social-list li a {
  color: #fff;
  text-decoration: none;
}
#animatedModal .container-fluid .itsme-more .item__description .email-social-list li a span {
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: transparent;
}
#animatedModal .container-fluid .itsme-more .item__description.left {
  text-align: right;
}
#animatedModal .container-fluid .itsme-more .item__description.left .full-name:before {
  left: auto;
  right: 0;
}
#animatedModal .container-fluid .itsme-more .item__description.left .email-social-list li:last-child {
  margin-right: 0;
}
#animatedModal .container-fluid .itsme-more .item__description.right {
  text-align: left;
}
#animatedModal .container-fluid .itsme-more .item__description.right .email-social-list li:first-child {
  margin-left: 0;
}
@media screen and (max-width: 992px) {
  .we section {
    margin-bottom: 6vh;
  }
  .itsme .itsme-list .item-itsme {
    width: 50%;
    margin-bottom: 30px;
  }
  .itsme .itsme-list .item-itsme .small-image {
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 250px;
    margin: 0 auto;
  }
  .itsme .itsme-list .item-itsme .small-image:hover {
    background-position: -2312px 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .itsme .itsme-list .item-itsme {
    width: 100%;
    margin-bottom: 30px;
  }
  .itsme .itsme-list .item-itsme .small-image {
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 250px;
    margin: 0 auto;
  }
  .itsme .itsme-list .item-itsme .small-image:hover {
    background-position: -2312px 0px !important;
  }
  .modal-content .hidden {
    display: none !important;
  }
  .itsme-more:first-child {
    display: flex;
    flex-direction: column;
  }
  .itsme-more:first-child .item__image {
    order: 2;
  }
  .wordcard .words .words-wrap {
    width: 100%;
  }
  .wordcard .words .words-wrap .row {
    margin-left: 0px;
  }
  .wordcard .words .words-wrap .element {
    width: 22px;
  }
  #animatedModal .container-fluid .itsme-more .item__description .full-name {
    font-family: "Room-Black";
    font-size: 3.5rem;
    margin: 0 0 10px;
    line-height: 50px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 590px) {
  .wordcard .words .words-wrap {
    width: 100%;
  }
  .wordcard .words .words-wrap .row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .wordcard .words .words-wrap .element {
    width: 17px;
    float: none;
  }
}
@media screen and (max-width: 543px) {
  #footer {
    margin-top: -20%;
  }
  #footer .container {
    padding-top: 25%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 480px) {
  .wordcard .words .words-wrap {
    width: 100%;
  }
  .wordcard .words .words-wrap .row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .wordcard .words .words-wrap .element {
    width: 13px;
    float: none;
  }
  #animatedModal .container-fluid .itsme-more .item__description .full-name {
    font-family: "Room-Black";
    font-size: 3rem;
    margin: 0 0 10px;
    line-height: 50px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
  }
  section.certificates {
    padding-bottom: 40px;
  }
  .naoTooltip {
    width: 200px !important;
  }
  .naoTooltip.nt-large {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 360px) {
  .wordcard .words .words-wrap {
    width: 100%;
  }
  .wordcard .words .words-wrap .row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .wordcard .words .words-wrap .element {
    width: 11px;
    float: none;
    font-size: 12px;
  }
}
