
@font-face {
  font-family: 'Room-Light';
  src: url('Room-Light.eot?#iefix') format('embedded-opentype'),  url('Room-Light.otf')  format('opentype'),
	     url('Room-Light.woff') format('woff'), url('Room-Light.ttf')  format('truetype'), url('Room-Light.svg#Room-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
