
@font-face {
  font-family: 'Room';
  src: url('Room.eot?#iefix') format('embedded-opentype'),  url('Room.otf')  format('opentype'),
	     url('Room.woff') format('woff'), url('Room.ttf')  format('truetype'), url('Room.svg#Room') format('svg');
  font-weight: normal;
  font-style: normal;
}
