
@font-face {
  font-family: 'Room-Bold';
  src: url('Room-Bold.eot?#iefix') format('embedded-opentype'),  url('Room-Bold.otf')  format('opentype'),
	     url('Room-Bold.woff') format('woff'), url('Room-Bold.ttf')  format('truetype'), url('Room-Bold.svg#Room-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
