/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
	width: 100%;
    background-color: #29c5b9;
    left: 0;
    top: 0;
    z-index: 2;
	color: #fff;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-100%,0);

	background: #29c5b9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #29c5b9 0%, #4c47b1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29c5b9),  color-stop(100%, #4c47b1));
	background: -webkit-linear-gradient(top, #29c5b9 0%, #4c47b1 100%);
	background: -o-linear-gradient(top, #29c5b9 0%, #4c47b1 100%);
	background: -ms-linear-gradient(top, #29c5b9 0%, #4c47b1 100%);
	background: linear-gradient(to bottom, #29c5b9 0%,  #4c47b1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29c5b9', endColorstr='#ad4cb7', GradientType=0);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 120px 120px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	right: 0;
	top: 0;
	}

.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}