.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body {
  font-family: "RobotoCondensedRegular";
  font-size: 18px;
}
nav.nav ul {
  list-style: none;
  height: 100%;
  height: calc(100% - 60px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  padding: 40px 0 20px 40px;
}
nav.nav ul li {
  padding: 2vh 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "RobotoCondensedLight";
}
nav.nav ul li a {
  color: #fff;
  text-decoration: none;
}
.container {
  padding: 0 15px;
}
.blue-button {
  display: inline-block;
  background-color: #29c5b9;
  border: 1px solid #29c5b9;
  font-family: "RobotoCondensedLight";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blue-button:hover,
.blue-button:focus {
  background-color: #fff;
  color: #29c5b9;
  text-decoration: none;
}
.swipe-menu {
  position: fixed;
  right: 2%;
  z-index: 100;
  width: 67px;
  top: 2%;
}
.swipe-menu #spinner-form {
  display: none;
}
.swipe-menu .spinner-spin {
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
  margin: 0;
  padding-left: 17px;
  margin-left: -25px;
}
.swipe-menu .spinner-spin * {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
}
.swipe-menu .spinner-spin {
  cursor: pointer;
}
.swipe-menu .spinner-spin > .spinner {
  height: 3px;
  width: 40px;
  background-color: #000;
  clear: both;
}
.swipe-menu .spinner-spin > .spinner.diagonal.part-1 {
  position: relative;
  float: left;
  margin-top: 15px;
}
.swipe-menu .spinner-spin > .spinner.horizontal {
  position: relative;
  float: left;
  margin-top: 5px;
}
.swipe-menu .spinner-spin > .spinner.diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 5px;
}
.swipe-menu #spinner-form:checked ~ .spinner-spin > .horizontal {
  opacity: 0;
}
.swipe-menu #spinner-form:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  margin-top: 25px;
}
.swipe-menu #spinner-form:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  margin-top: -10px;
  margin-left: 0 !important;
}
.language-menu {
  position: fixed;
  left: 2%;
  z-index: 100;
  width: 67px;
  top: 2%;
}
.language-menu .qtranxs_widget {
  float: right;
  /* margin-right: 2%; */
  position: relative;
  text-align: right;
  padding: 1.3rem .6rem;
}
.language-menu .qtranxs_widget .language-chooser {
  padding: 0;
  display: inline-block;
  position: relative;
}
.language-menu .qtranxs_widget .language-chooser li {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.language-menu .qtranxs_widget .language-chooser li a {
  color: #000;
  text-decoration: none;
}
.language-menu .qtranxs_widget .language-chooser li.active {
  opacity: 1;
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
}
.language-menu .qtranxs_widget .language-chooser:before {
  content: '';
  position: absolute;
  top: 0;
  width: 15px;
  height: 1px;
  background-color: #000;
  transform: rotate(-45deg);
  left: 0;
  margin-left: -10px;
}
.language-menu .qtranxs_widget.open .language-chooser li {
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
  opacity: 0.5;
}
.language-menu .qtranxs_widget.open .language-chooser li:hover {
  opacity: 1;
}
body {
  overflow-x: hidden;
}
#header {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  min-height: 300px;
  text-align: center;
  margin-bottom: 20vw;
  position: relative;
}
#header h1 {
  font-family: 'Room-Black';
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0;
}
#header h2 {
  margin: 0 auto;
  font-family: 'Room-Light';
  text-transform: uppercase;
  font-size: 1.5rem;
}
#header h2 * {
  margin: 0;
  padding: 0;
}
#header .callback-we {
  margin-top: 5vw;
}
#content {
  overflow: hidden;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  position: relative;
  flex-direction: column;
  z-index: 1;
  border-bottom: 1vw solid #fff;
  padding-bottom: 7vw;
  margin-top: 20vw;
}
#footer:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20vw 100vw;
  border-color: transparent transparent #ffffff transparent;
  top: -19.8vw;
  -webkit-filter: drop-shadow(10px -4px 2px rgba(0, 0, 0, 0.22));
  filter: drop-shadow(10px -4px 2px rgba(0, 0, 0, 0.22) 6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-4, Color='#868686')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-4, Color='#868686')";
}
.home #footer {
  margin-top: -5vw;
}
#mobilesmart_switcher {
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  position: relative;
}
#mobilesmart_switcher a {
  color: #29c5b9;
  text-decoration: none;
  font-size: 15px;
}
@media screen and (min-width: 543px) {
  .home #footer {
    margin-top: 0;
  }
  #header {
    margin-bottom: 0;
  }
}
